<a class="modal-close"><i class="fa fa-times"></i></a>
<div class="grid-container" style="padding-top: 120px;">
	<div class="grid-90 prefix-5 text-center">
		<a class="modal-fb-login btn btn-normal-inverse btn-block" data-next="file-report"><i class="fa fa-facebook"></i> Log in with Facebook</a>
	</div>
</div>
