[data-columns]::before {
  content: '3 .column.size-1of3.hero-card'; }

/* These are the classes that are going to be applied: */
.column {
  float: left;
  padding-left: 10px;
  padding-right: 10px; }

.size-1of3 {
  width: 33.333%; }
