.max-10000 {
  max-width: 100000px; }

.float-right {
  float: right; }

.fadeout {
  position: absolute;
  bottom: 0em;
  width: 100%;
  height: 4em;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, white 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, white 100%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, white 100%); }

.vm-wrapper {
  display: table; }

.vm-wrapper .vm-content {
  display: table-cell;
  vertical-align: middle; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-red {
  color: #da4536; }

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.div-loading {
  background-image: url("../images/loader-light.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 40px;
  height: 70px; }

.div-loading-rolling-orange {
  background-image: url("../images/loader.gif"); }

.heading-medium {
  font-size: 2.4rem;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold; }

.heading-large {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: bold; }

.heading-meta {
  font-size: 1.6rem;
  color: #777; }

.heading-light {
  color: #FEFEFE; }

.btn-rounded-right {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

input, textarea, select {
  outline: 0;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #fff; }

.form-body input, .form-body select {
  height: 3.6rem; }

.form-body textarea {
  resize: none;
  padding-top: 8px;
  padding-bottom: 8px; }

.input-rounded {
  border-radius: 3px; }

.input-rounded-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

input:focus {
  outline: 0; }

.loader {
  padding-top: 20px;
  padding-bottom: 20px; }

.tags-small {
  font-size: 1.4rem;
  line-height: 1.3rem;
  color: #000;
  background-color: #FFE83C;
  border-radius: 2px;
  padding: 7px 7px;
  display: inline-block;
  word-break: break-all; }

.text-small {
  font-size: 1.4rem;
  line-height: 2rem; }

.text-16 {
  font-size: 1.6rem;
  line-height: 1.8rem; }

.text-medium {
  font-size: 2.4rem;
  line-height: 2.4rem; }

.text-large {
  font-size: 2.4rem; }

.text-white {
  color: #FEFEFE; }

.text-dark-green {
  color: #166337; }

.text-meta {
  color: #777; }

.button-input-group {
  display: inline-block;
  height: 2rem;
  font-size: 0; }
  .button-input-group .btn, .button-input-group input {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle; }
  .button-input-group input {
    margin-right: -1px;
    padding: 8px 14px; }

.search-button-group {
  display: inline-block;
  float: left;
  font-size: 0; }
  .search-button-group .btn, .search-button-group input {
    display: inline-block;
    vertical-align: middle;
    float: left;
    padding: 7px 14px;
    color: #777;
    background: #eee;
    height: 36px; }
  .search-button-group .btn {
    right: 0;
    line-height: 18px; }
  .search-button-group input::-webkit-input-placeholder {
    color: #aaa; }
  .search-button-group input:-moz-placeholder {
    /* Firefox 18- */
    color: #aaa; }
  .search-button-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaa; }
  .search-button-group input:-ms-input-placeholder {
    color: #aaa; }

.search-button-group-tall .btn, .search-button-group-tall input {
  line-height: 3.2rem; }

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
  width: 100% !important; }

.green-bg {
  background-color: #27ae60; }

.borderless {
  border: 0 !important; }

.divider {
  height: 1px;
  border-bottom: 1px dotted #777; }

.v-padded-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.v-padded-25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.v-padded-36 {
  padding-top: 36px;
  padding-bottom: 36px; }

.v-padded-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.v-padded-50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.padded-bottom-20 {
  padding-bottom: 20px; }

.padded-bottom-25 {
  padding-bottom: 25px; }

.padded-top-25 {
  padding-top: 20px; }

.padded-top-50 {
  padding-top: 50px; }

.padded-bottom-10 {
  padding-bottom: 10px; }

.padded-bottom {
  padding-bottom: 150px; }

/* Overlays */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5); }

.overlay-loading {
  position: absolute;
  width: 100%;
  height: 100px;
  background-image: url("../images/loader.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50px;
  margin-top: -100px;
  top: 50%; }

.opaque {
  opacity: 0; }

@media all and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
    visibility: hidden; } }

@media all and (max-width: 386px) {
  .text-left-on-mobile {
    text-align: left !important; } }

@media all and (max-width: 1024px) {
  .hide-on-tablet {
    display: none;
    visibility: hidden; } }

.meta-text {
  color: #aaa;
  font-size: 1.3rem; }

.section-header {
  margin: 0 0 18px 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase; }

.page-header {
  background-color: #fafafa; }

.section-subheader {
  margin-top: -12px;
  color: #9a9a9a; }
