.input-group {
  padding-top: 10px;
  padding-bottom: 10px; }

.form {
  margin: 25px 0;
  padding: 0;
  overflow: hidden;
  /* For Mozilla Firefox */ }
  .form input, .form select, .form textarea {
    box-shadow: none;
    font-size: 1.3rem; }
  .form .heading-medium {
    border-bottom: 1px dotted #ddd;
    line-height: 6rem; }
  .form input::-webkit-input-placeholder,
  .form textarea::-webkit-input-placeholder {
    font-size: 1.3rem; }
  .form input:-moz-placeholder,
  .form textarea:-moz-placeholder {
    font-size: 1.3rem; }

.form-header {
  background: #fafafa;
  color: #444;
  margin: 0;
  font-size: 3.6rem; }

.form-label {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #444;
  line-height: 3.6rem; }
  @media all and (max-width: 767px) {
    .form-label {
      text-align: left; } }

.input-danger {
  border: 1px solid #da4536; }

.error-text {
  margin-bottom: 10px;
  color: #da4536;
  font-size: 1.3rem; }

input[type=file] {
  border: 0;
  background: 0;
  padding-top: 0.8rem; }

.upload-preview-wrapper {
  float: left;
  display: inline-block;
  width: auto;
  position: relative; }
  .upload-preview-wrapper img {
    width: calc(100% - 14px); }
  .upload-preview-wrapper .clear-upload {
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #333;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 1; }
    .upload-preview-wrapper .clear-upload.hidden {
      display: none; }

.datepicker.dropdown-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #eee;
  display: none; }
