.hero-map {
  height: 534px;
  width: 100%; }
  @media all and (max-width: 500px) {
    .hero-map {
      height: 380px; } }

.hero-gmap-container {
  position: relative; }

.hero-overlay {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }
  .hero-overlay.daytime {
    background: rgba(255, 255, 255, 0.2); }
    .hero-overlay.daytime h1 {
      color: #333;
      z-index: 1; }

.hero-overlay__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  .hero-overlay__container > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  @media all and (max-width: 500px) {
    .hero-overlay__container {
      text-align: center; } }

.hero-overlay h1 {
  margin: 0 0 32px 0;
  max-width: 500px;
  font-size: 50px;
  color: white;
  line-height: 1.2; }
  @media all and (max-width: 500px) {
    .hero-overlay h1 {
      font-size: 32px; } }

.hero-overlay h5 {
  margin: 0 0 16px 0;
  max-width: 500px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 1.2;
  letter-spacing: 0.3px; }

.hero-overlay a {
  display: inline-block;
  background-color: #da4536;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: 250ms; }

.hero-overlay a:hover {
  background-color: #c83324; }

.hero-card .hero-card-inner {
  position: relative;
  float: left;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  padding: 0;
  margin-bottom: 20px; }

.hero-card:hover .hero-card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.grid {
  position: relative; }
  .grid .hero-card {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px; }

.hero-card-overlay {
  position: absolute;
  left: 0;
  right: 0;
  padding: 12px;
  z-index: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 4px 4px 0 0;
  transition: 200ms; }
  .hero-card-overlay.overlay-top {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    border-radius: 4px 4px 0 0;
    text-align: right; }
  .hero-card-overlay .share-button {
    margin: 0 0 0 6px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    padding: 0;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    float: right; }
    .hero-card-overlay .share-button.facebook {
      background-color: #3b5998; }
    .hero-card-overlay .share-button.twitter {
      background-color: #55acee; }
    .hero-card-overlay .share-button.kakao {
      background-image: url("/static/app/images/kakao-logo.png");
      background-size: cover;
      background-position: center; }

.hero-card-image {
  position: relative;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  padding: 60% 0 0 0;
  cursor: pointer;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  .hero-card-image .image {
    display: block;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    background-size: cover;
    background-position: center;
    border-radius: 4px 4px 0 0;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.hero-card-vehicle {
  overflow: hidden;
  border-bottom: 1px #ececec solid; }
  .hero-card-vehicle-icon {
    float: left;
    height: 48px;
    width: 48px;
    background-color: #FFE83C; }
  .hero-card-vehicle-info {
    float: left;
    width: calc(100% - 48px);
    padding: 8px 12px;
    cursor: pointer; }
    .hero-card-vehicle-info h5 {
      margin: 0;
      font-size: 15px;
      line-height: 1.2;
      font-weight: 600;
      color: #111; }
    .hero-card-vehicle-info h6 {
      margin: 0;
      font-size: 12px;
      line-height: 1.2;
      font-weight: 400;
      color: #888; }
  .hero-card-vehicle .motorcycle {
    background-image: url("/static/app/images/vehicles/noun_143285_cc.svg");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center 3px; }
  .hero-card-vehicle .taxi {
    background-image: url("/static/app/images/vehicles/noun_143282_cc.svg");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center 3px; }

.hero-card-reporttype {
  padding: 12px;
  border-bottom: 1px #ececec solid; }
  .hero-card-reporttype h5 {
    margin: 0;
    font-size: 16px;
    line-height: 2rem;
    color: #111;
    font-weight: 600; }
    @media all and (max-width: 500px) {
      .hero-card-reporttype h5 {
        font-size: 1.4rem; } }

.hero-card-details {
  padding: 12px;
  border-bottom: 1px #ececec solid; }
  .hero-card-details p {
    margin: 0;
    font-size: 13px; }
  .hero-card-details .description {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.8rem;
    min-height: 3.6rem;
    max-height: 3.6rem; }
  .hero-card-details .location {
    margin-bottom: 6px;
    color: #888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.hero-card-postinfo {
  padding: 6px 12px;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
