/* ================================================================== */
/* This file has a mobile-to-tablet, and tablet-to-desktop breakpoint */
/* ================================================================== */
@media (max-width: 400px) {
  @-ms-viewport {
    width: 320px; } }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.grid-container:before,
.grid-5:before,
.mobile-grid-5:before,
.tablet-grid-5:before,
.grid-10:before,
.mobile-grid-10:before,
.tablet-grid-10:before,
.grid-15:before,
.mobile-grid-15:before,
.tablet-grid-15:before,
.grid-20:before,
.mobile-grid-20:before,
.tablet-grid-20:before,
.grid-25:before,
.mobile-grid-25:before,
.tablet-grid-25:before,
.grid-30:before,
.mobile-grid-30:before,
.tablet-grid-30:before,
.grid-35:before,
.mobile-grid-35:before,
.tablet-grid-35:before,
.grid-40:before,
.mobile-grid-40:before,
.tablet-grid-40:before,
.grid-45:before,
.mobile-grid-45:before,
.tablet-grid-45:before,
.grid-50:before,
.mobile-grid-50:before,
.tablet-grid-50:before,
.grid-55:before,
.mobile-grid-55:before,
.tablet-grid-55:before,
.grid-60:before,
.mobile-grid-60:before,
.tablet-grid-60:before,
.grid-65:before,
.mobile-grid-65:before,
.tablet-grid-65:before,
.grid-70:before,
.mobile-grid-70:before,
.tablet-grid-70:before,
.grid-75:before,
.mobile-grid-75:before,
.tablet-grid-75:before,
.grid-80:before,
.mobile-grid-80:before,
.tablet-grid-80:before,
.grid-85:before,
.mobile-grid-85:before,
.tablet-grid-85:before,
.grid-90:before,
.mobile-grid-90:before,
.tablet-grid-90:before,
.grid-95:before,
.mobile-grid-95:before,
.tablet-grid-95:before,
.grid-100:before,
.mobile-grid-100:before,
.tablet-grid-100:before,
.grid-33:before,
.mobile-grid-33:before,
.tablet-grid-33:before,
.grid-66:before,
.mobile-grid-66:before,
.tablet-grid-66:before,
.clearfix:before,
.grid-container:after,
.grid-5:after,
.mobile-grid-5:after,
.tablet-grid-5:after,
.grid-10:after,
.mobile-grid-10:after,
.tablet-grid-10:after,
.grid-15:after,
.mobile-grid-15:after,
.tablet-grid-15:after,
.grid-20:after,
.mobile-grid-20:after,
.tablet-grid-20:after,
.grid-25:after,
.mobile-grid-25:after,
.tablet-grid-25:after,
.grid-30:after,
.mobile-grid-30:after,
.tablet-grid-30:after,
.grid-35:after,
.mobile-grid-35:after,
.tablet-grid-35:after,
.grid-40:after,
.mobile-grid-40:after,
.tablet-grid-40:after,
.grid-45:after,
.mobile-grid-45:after,
.tablet-grid-45:after,
.grid-50:after,
.mobile-grid-50:after,
.tablet-grid-50:after,
.grid-55:after,
.mobile-grid-55:after,
.tablet-grid-55:after,
.grid-60:after,
.mobile-grid-60:after,
.tablet-grid-60:after,
.grid-65:after,
.mobile-grid-65:after,
.tablet-grid-65:after,
.grid-70:after,
.mobile-grid-70:after,
.tablet-grid-70:after,
.grid-75:after,
.mobile-grid-75:after,
.tablet-grid-75:after,
.grid-80:after,
.mobile-grid-80:after,
.tablet-grid-80:after,
.grid-85:after,
.mobile-grid-85:after,
.tablet-grid-85:after,
.grid-90:after,
.mobile-grid-90:after,
.tablet-grid-90:after,
.grid-95:after,
.mobile-grid-95:after,
.tablet-grid-95:after,
.grid-100:after,
.mobile-grid-100:after,
.tablet-grid-100:after,
.grid-33:after,
.mobile-grid-33:after,
.tablet-grid-33:after,
.grid-66:after,
.mobile-grid-66:after,
.tablet-grid-66:after,
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.grid-container:after,
.grid-5:after,
.mobile-grid-5:after,
.tablet-grid-5:after,
.grid-10:after,
.mobile-grid-10:after,
.tablet-grid-10:after,
.grid-15:after,
.mobile-grid-15:after,
.tablet-grid-15:after,
.grid-20:after,
.mobile-grid-20:after,
.tablet-grid-20:after,
.grid-25:after,
.mobile-grid-25:after,
.tablet-grid-25:after,
.grid-30:after,
.mobile-grid-30:after,
.tablet-grid-30:after,
.grid-35:after,
.mobile-grid-35:after,
.tablet-grid-35:after,
.grid-40:after,
.mobile-grid-40:after,
.tablet-grid-40:after,
.grid-45:after,
.mobile-grid-45:after,
.tablet-grid-45:after,
.grid-50:after,
.mobile-grid-50:after,
.tablet-grid-50:after,
.grid-55:after,
.mobile-grid-55:after,
.tablet-grid-55:after,
.grid-60:after,
.mobile-grid-60:after,
.tablet-grid-60:after,
.grid-65:after,
.mobile-grid-65:after,
.tablet-grid-65:after,
.grid-70:after,
.mobile-grid-70:after,
.tablet-grid-70:after,
.grid-75:after,
.mobile-grid-75:after,
.tablet-grid-75:after,
.grid-80:after,
.mobile-grid-80:after,
.tablet-grid-80:after,
.grid-85:after,
.mobile-grid-85:after,
.tablet-grid-85:after,
.grid-90:after,
.mobile-grid-90:after,
.tablet-grid-90:after,
.grid-95:after,
.mobile-grid-95:after,
.tablet-grid-95:after,
.grid-100:after,
.mobile-grid-100:after,
.tablet-grid-100:after,
.grid-33:after,
.mobile-grid-33:after,
.tablet-grid-33:after,
.grid-66:after,
.mobile-grid-66:after,
.tablet-grid-66:after,
.clearfix:after {
  clear: both; }

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: -10px;
  padding-right: -10px; }

.grid-5,
.mobile-grid-5,
.tablet-grid-5,
.grid-10,
.mobile-grid-10,
.tablet-grid-10,
.grid-15,
.mobile-grid-15,
.tablet-grid-15,
.grid-20,
.mobile-grid-20,
.tablet-grid-20,
.grid-25,
.mobile-grid-25,
.tablet-grid-25,
.grid-30,
.mobile-grid-30,
.tablet-grid-30,
.grid-35,
.mobile-grid-35,
.tablet-grid-35,
.grid-40,
.mobile-grid-40,
.tablet-grid-40,
.grid-45,
.mobile-grid-45,
.tablet-grid-45,
.grid-50,
.mobile-grid-50,
.tablet-grid-50,
.grid-55,
.mobile-grid-55,
.tablet-grid-55,
.grid-60,
.mobile-grid-60,
.tablet-grid-60,
.grid-65,
.mobile-grid-65,
.tablet-grid-65,
.grid-70,
.mobile-grid-70,
.tablet-grid-70,
.grid-75,
.mobile-grid-75,
.tablet-grid-75,
.grid-80,
.mobile-grid-80,
.tablet-grid-80,
.grid-85,
.mobile-grid-85,
.tablet-grid-85,
.grid-90,
.mobile-grid-90,
.tablet-grid-90,
.grid-95,
.mobile-grid-95,
.tablet-grid-95,
.grid-100,
.mobile-grid-100,
.tablet-grid-100,
.grid-33,
.mobile-grid-33,
.tablet-grid-33,
.grid-66,
.mobile-grid-66,
.tablet-grid-66 {
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px; }

.grid-parent {
  padding-left: 0;
  padding-right: 0; }

@media (max-width: 767px) {
  .mobile-push-5,
  .mobile-pull-5,
  .mobile-push-10,
  .mobile-pull-10,
  .mobile-push-15,
  .mobile-pull-15,
  .mobile-push-20,
  .mobile-pull-20,
  .mobile-push-25,
  .mobile-pull-25,
  .mobile-push-30,
  .mobile-pull-30,
  .mobile-push-35,
  .mobile-pull-35,
  .mobile-push-40,
  .mobile-pull-40,
  .mobile-push-45,
  .mobile-pull-45,
  .mobile-push-50,
  .mobile-pull-50,
  .mobile-push-55,
  .mobile-pull-55,
  .mobile-push-60,
  .mobile-pull-60,
  .mobile-push-65,
  .mobile-pull-65,
  .mobile-push-70,
  .mobile-pull-70,
  .mobile-push-75,
  .mobile-pull-75,
  .mobile-push-80,
  .mobile-pull-80,
  .mobile-push-85,
  .mobile-pull-85,
  .mobile-push-90,
  .mobile-pull-90,
  .mobile-push-95,
  .mobile-pull-95,
  .mobile-push-33,
  .mobile-pull-33,
  .mobile-push-66,
  .mobile-pull-66 {
    position: relative; }
  .hide-on-mobile {
    display: none !important; }
  .mobile-grid-5 {
    float: left;
    width: 5%; }
  .mobile-prefix-5 {
    margin-left: 5%; }
  .mobile-suffix-5 {
    margin-right: 5%; }
  .mobile-push-5 {
    left: 5%; }
  .mobile-pull-5 {
    left: -5%; }
  .mobile-grid-10 {
    float: left;
    width: 10%; }
  .mobile-prefix-10 {
    margin-left: 10%; }
  .mobile-suffix-10 {
    margin-right: 10%; }
  .mobile-push-10 {
    left: 10%; }
  .mobile-pull-10 {
    left: -10%; }
  .mobile-grid-15 {
    float: left;
    width: 15%; }
  .mobile-prefix-15 {
    margin-left: 15%; }
  .mobile-suffix-15 {
    margin-right: 15%; }
  .mobile-push-15 {
    left: 15%; }
  .mobile-pull-15 {
    left: -15%; }
  .mobile-grid-20 {
    float: left;
    width: 20%; }
  .mobile-prefix-20 {
    margin-left: 20%; }
  .mobile-suffix-20 {
    margin-right: 20%; }
  .mobile-push-20 {
    left: 20%; }
  .mobile-pull-20 {
    left: -20%; }
  .mobile-grid-25 {
    float: left;
    width: 25%; }
  .mobile-prefix-25 {
    margin-left: 25%; }
  .mobile-suffix-25 {
    margin-right: 25%; }
  .mobile-push-25 {
    left: 25%; }
  .mobile-pull-25 {
    left: -25%; }
  .mobile-grid-30 {
    float: left;
    width: 30%; }
  .mobile-prefix-30 {
    margin-left: 30%; }
  .mobile-suffix-30 {
    margin-right: 30%; }
  .mobile-push-30 {
    left: 30%; }
  .mobile-pull-30 {
    left: -30%; }
  .mobile-grid-35 {
    float: left;
    width: 35%; }
  .mobile-prefix-35 {
    margin-left: 35%; }
  .mobile-suffix-35 {
    margin-right: 35%; }
  .mobile-push-35 {
    left: 35%; }
  .mobile-pull-35 {
    left: -35%; }
  .mobile-grid-40 {
    float: left;
    width: 40%; }
  .mobile-prefix-40 {
    margin-left: 40%; }
  .mobile-suffix-40 {
    margin-right: 40%; }
  .mobile-push-40 {
    left: 40%; }
  .mobile-pull-40 {
    left: -40%; }
  .mobile-grid-45 {
    float: left;
    width: 45%; }
  .mobile-prefix-45 {
    margin-left: 45%; }
  .mobile-suffix-45 {
    margin-right: 45%; }
  .mobile-push-45 {
    left: 45%; }
  .mobile-pull-45 {
    left: -45%; }
  .mobile-grid-50 {
    float: left;
    width: 50%; }
  .mobile-prefix-50 {
    margin-left: 50%; }
  .mobile-suffix-50 {
    margin-right: 50%; }
  .mobile-push-50 {
    left: 50%; }
  .mobile-pull-50 {
    left: -50%; }
  .mobile-grid-55 {
    float: left;
    width: 55%; }
  .mobile-prefix-55 {
    margin-left: 55%; }
  .mobile-suffix-55 {
    margin-right: 55%; }
  .mobile-push-55 {
    left: 55%; }
  .mobile-pull-55 {
    left: -55%; }
  .mobile-grid-60 {
    float: left;
    width: 60%; }
  .mobile-prefix-60 {
    margin-left: 60%; }
  .mobile-suffix-60 {
    margin-right: 60%; }
  .mobile-push-60 {
    left: 60%; }
  .mobile-pull-60 {
    left: -60%; }
  .mobile-grid-65 {
    float: left;
    width: 65%; }
  .mobile-prefix-65 {
    margin-left: 65%; }
  .mobile-suffix-65 {
    margin-right: 65%; }
  .mobile-push-65 {
    left: 65%; }
  .mobile-pull-65 {
    left: -65%; }
  .mobile-grid-70 {
    float: left;
    width: 70%; }
  .mobile-prefix-70 {
    margin-left: 70%; }
  .mobile-suffix-70 {
    margin-right: 70%; }
  .mobile-push-70 {
    left: 70%; }
  .mobile-pull-70 {
    left: -70%; }
  .mobile-grid-75 {
    float: left;
    width: 75%; }
  .mobile-prefix-75 {
    margin-left: 75%; }
  .mobile-suffix-75 {
    margin-right: 75%; }
  .mobile-push-75 {
    left: 75%; }
  .mobile-pull-75 {
    left: -75%; }
  .mobile-grid-80 {
    float: left;
    width: 80%; }
  .mobile-prefix-80 {
    margin-left: 80%; }
  .mobile-suffix-80 {
    margin-right: 80%; }
  .mobile-push-80 {
    left: 80%; }
  .mobile-pull-80 {
    left: -80%; }
  .mobile-grid-85 {
    float: left;
    width: 85%; }
  .mobile-prefix-85 {
    margin-left: 85%; }
  .mobile-suffix-85 {
    margin-right: 85%; }
  .mobile-push-85 {
    left: 85%; }
  .mobile-pull-85 {
    left: -85%; }
  .mobile-grid-90 {
    float: left;
    width: 90%; }
  .mobile-prefix-90 {
    margin-left: 90%; }
  .mobile-suffix-90 {
    margin-right: 90%; }
  .mobile-push-90 {
    left: 90%; }
  .mobile-pull-90 {
    left: -90%; }
  .mobile-grid-95 {
    float: left;
    width: 95%; }
  .mobile-prefix-95 {
    margin-left: 95%; }
  .mobile-suffix-95 {
    margin-right: 95%; }
  .mobile-push-95 {
    left: 95%; }
  .mobile-pull-95 {
    left: -95%; }
  .mobile-grid-33 {
    float: left;
    width: 33.33333%; }
  .mobile-prefix-33 {
    margin-left: 33.33333%; }
  .mobile-suffix-33 {
    margin-right: 33.33333%; }
  .mobile-push-33 {
    left: 33.33333%; }
  .mobile-pull-33 {
    left: -33.33333%; }
  .mobile-grid-66 {
    float: left;
    width: 66.66667%; }
  .mobile-prefix-66 {
    margin-left: 66.66667%; }
  .mobile-suffix-66 {
    margin-right: 66.66667%; }
  .mobile-push-66 {
    left: 66.66667%; }
  .mobile-pull-66 {
    left: -66.66667%; }
  .mobile-grid-100 {
    clear: both;
    width: 100%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .tablet-push-5,
  .tablet-pull-5,
  .tablet-push-10,
  .tablet-pull-10,
  .tablet-push-15,
  .tablet-pull-15,
  .tablet-push-20,
  .tablet-pull-20,
  .tablet-push-25,
  .tablet-pull-25,
  .tablet-push-30,
  .tablet-pull-30,
  .tablet-push-35,
  .tablet-pull-35,
  .tablet-push-40,
  .tablet-pull-40,
  .tablet-push-45,
  .tablet-pull-45,
  .tablet-push-50,
  .tablet-pull-50,
  .tablet-push-55,
  .tablet-pull-55,
  .tablet-push-60,
  .tablet-pull-60,
  .tablet-push-65,
  .tablet-pull-65,
  .tablet-push-70,
  .tablet-pull-70,
  .tablet-push-75,
  .tablet-pull-75,
  .tablet-push-80,
  .tablet-pull-80,
  .tablet-push-85,
  .tablet-pull-85,
  .tablet-push-90,
  .tablet-pull-90,
  .tablet-push-95,
  .tablet-pull-95,
  .tablet-push-33,
  .tablet-pull-33,
  .tablet-push-66,
  .tablet-pull-66 {
    position: relative; }
  .hide-on-tablet {
    display: none !important; }
  .tablet-grid-5 {
    float: left;
    width: 5%; }
  .tablet-prefix-5 {
    margin-left: 5%; }
  .tablet-suffix-5 {
    margin-right: 5%; }
  .tablet-push-5 {
    left: 5%; }
  .tablet-pull-5 {
    left: -5%; }
  .tablet-grid-10 {
    float: left;
    width: 10%; }
  .tablet-prefix-10 {
    margin-left: 10%; }
  .tablet-suffix-10 {
    margin-right: 10%; }
  .tablet-push-10 {
    left: 10%; }
  .tablet-pull-10 {
    left: -10%; }
  .tablet-grid-15 {
    float: left;
    width: 15%; }
  .tablet-prefix-15 {
    margin-left: 15%; }
  .tablet-suffix-15 {
    margin-right: 15%; }
  .tablet-push-15 {
    left: 15%; }
  .tablet-pull-15 {
    left: -15%; }
  .tablet-grid-20 {
    float: left;
    width: 20%; }
  .tablet-prefix-20 {
    margin-left: 20%; }
  .tablet-suffix-20 {
    margin-right: 20%; }
  .tablet-push-20 {
    left: 20%; }
  .tablet-pull-20 {
    left: -20%; }
  .tablet-grid-25 {
    float: left;
    width: 25%; }
  .tablet-prefix-25 {
    margin-left: 25%; }
  .tablet-suffix-25 {
    margin-right: 25%; }
  .tablet-push-25 {
    left: 25%; }
  .tablet-pull-25 {
    left: -25%; }
  .tablet-grid-30 {
    float: left;
    width: 30%; }
  .tablet-prefix-30 {
    margin-left: 30%; }
  .tablet-suffix-30 {
    margin-right: 30%; }
  .tablet-push-30 {
    left: 30%; }
  .tablet-pull-30 {
    left: -30%; }
  .tablet-grid-35 {
    float: left;
    width: 35%; }
  .tablet-prefix-35 {
    margin-left: 35%; }
  .tablet-suffix-35 {
    margin-right: 35%; }
  .tablet-push-35 {
    left: 35%; }
  .tablet-pull-35 {
    left: -35%; }
  .tablet-grid-40 {
    float: left;
    width: 40%; }
  .tablet-prefix-40 {
    margin-left: 40%; }
  .tablet-suffix-40 {
    margin-right: 40%; }
  .tablet-push-40 {
    left: 40%; }
  .tablet-pull-40 {
    left: -40%; }
  .tablet-grid-45 {
    float: left;
    width: 45%; }
  .tablet-prefix-45 {
    margin-left: 45%; }
  .tablet-suffix-45 {
    margin-right: 45%; }
  .tablet-push-45 {
    left: 45%; }
  .tablet-pull-45 {
    left: -45%; }
  .tablet-grid-50 {
    float: left;
    width: 50%; }
  .tablet-prefix-50 {
    margin-left: 50%; }
  .tablet-suffix-50 {
    margin-right: 50%; }
  .tablet-push-50 {
    left: 50%; }
  .tablet-pull-50 {
    left: -50%; }
  .tablet-grid-55 {
    float: left;
    width: 55%; }
  .tablet-prefix-55 {
    margin-left: 55%; }
  .tablet-suffix-55 {
    margin-right: 55%; }
  .tablet-push-55 {
    left: 55%; }
  .tablet-pull-55 {
    left: -55%; }
  .tablet-grid-60 {
    float: left;
    width: 60%; }
  .tablet-prefix-60 {
    margin-left: 60%; }
  .tablet-suffix-60 {
    margin-right: 60%; }
  .tablet-push-60 {
    left: 60%; }
  .tablet-pull-60 {
    left: -60%; }
  .tablet-grid-65 {
    float: left;
    width: 65%; }
  .tablet-prefix-65 {
    margin-left: 65%; }
  .tablet-suffix-65 {
    margin-right: 65%; }
  .tablet-push-65 {
    left: 65%; }
  .tablet-pull-65 {
    left: -65%; }
  .tablet-grid-70 {
    float: left;
    width: 70%; }
  .tablet-prefix-70 {
    margin-left: 70%; }
  .tablet-suffix-70 {
    margin-right: 70%; }
  .tablet-push-70 {
    left: 70%; }
  .tablet-pull-70 {
    left: -70%; }
  .tablet-grid-75 {
    float: left;
    width: 75%; }
  .tablet-prefix-75 {
    margin-left: 75%; }
  .tablet-suffix-75 {
    margin-right: 75%; }
  .tablet-push-75 {
    left: 75%; }
  .tablet-pull-75 {
    left: -75%; }
  .tablet-grid-80 {
    float: left;
    width: 80%; }
  .tablet-prefix-80 {
    margin-left: 80%; }
  .tablet-suffix-80 {
    margin-right: 80%; }
  .tablet-push-80 {
    left: 80%; }
  .tablet-pull-80 {
    left: -80%; }
  .tablet-grid-85 {
    float: left;
    width: 85%; }
  .tablet-prefix-85 {
    margin-left: 85%; }
  .tablet-suffix-85 {
    margin-right: 85%; }
  .tablet-push-85 {
    left: 85%; }
  .tablet-pull-85 {
    left: -85%; }
  .tablet-grid-90 {
    float: left;
    width: 90%; }
  .tablet-prefix-90 {
    margin-left: 90%; }
  .tablet-suffix-90 {
    margin-right: 90%; }
  .tablet-push-90 {
    left: 90%; }
  .tablet-pull-90 {
    left: -90%; }
  .tablet-grid-95 {
    float: left;
    width: 95%; }
  .tablet-prefix-95 {
    margin-left: 95%; }
  .tablet-suffix-95 {
    margin-right: 95%; }
  .tablet-push-95 {
    left: 95%; }
  .tablet-pull-95 {
    left: -95%; }
  .tablet-grid-33 {
    float: left;
    width: 33.33333%; }
  .tablet-prefix-33 {
    margin-left: 33.33333%; }
  .tablet-suffix-33 {
    margin-right: 33.33333%; }
  .tablet-push-33 {
    left: 33.33333%; }
  .tablet-pull-33 {
    left: -33.33333%; }
  .tablet-grid-66 {
    float: left;
    width: 66.66667%; }
  .tablet-prefix-66 {
    margin-left: 66.66667%; }
  .tablet-suffix-66 {
    margin-right: 66.66667%; }
  .tablet-push-66 {
    left: 66.66667%; }
  .tablet-pull-66 {
    left: -66.66667%; }
  .tablet-grid-100 {
    clear: both;
    width: 100%; } }

@media (min-width: 1025px) {
  .push-5,
  .pull-5,
  .push-10,
  .pull-10,
  .push-15,
  .pull-15,
  .push-20,
  .pull-20,
  .push-25,
  .pull-25,
  .push-30,
  .pull-30,
  .push-35,
  .pull-35,
  .push-40,
  .pull-40,
  .push-45,
  .pull-45,
  .push-50,
  .pull-50,
  .push-55,
  .pull-55,
  .push-60,
  .pull-60,
  .push-65,
  .pull-65,
  .push-70,
  .pull-70,
  .push-75,
  .pull-75,
  .push-80,
  .pull-80,
  .push-85,
  .pull-85,
  .push-90,
  .pull-90,
  .push-95,
  .pull-95,
  .push-33,
  .pull-33,
  .push-66,
  .pull-66 {
    position: relative; }
  .hide-on-desktop {
    display: none !important; }
  .grid-5 {
    float: left;
    width: 5%; }
  .prefix-5 {
    margin-left: 5%; }
  .suffix-5 {
    margin-right: 5%; }
  .push-5 {
    left: 5%; }
  .pull-5 {
    left: -5%; }
  .grid-10 {
    float: left;
    width: 10%; }
  .prefix-10 {
    margin-left: 10%; }
  .suffix-10 {
    margin-right: 10%; }
  .push-10 {
    left: 10%; }
  .pull-10 {
    left: -10%; }
  .grid-15 {
    float: left;
    width: 15%; }
  .prefix-15 {
    margin-left: 15%; }
  .suffix-15 {
    margin-right: 15%; }
  .push-15 {
    left: 15%; }
  .pull-15 {
    left: -15%; }
  .grid-20 {
    float: left;
    width: 20%; }
  .prefix-20 {
    margin-left: 20%; }
  .suffix-20 {
    margin-right: 20%; }
  .push-20 {
    left: 20%; }
  .pull-20 {
    left: -20%; }
  .grid-25 {
    float: left;
    width: 25%; }
  .prefix-25 {
    margin-left: 25%; }
  .suffix-25 {
    margin-right: 25%; }
  .push-25 {
    left: 25%; }
  .pull-25 {
    left: -25%; }
  .grid-30 {
    float: left;
    width: 30%; }
  .prefix-30 {
    margin-left: 30%; }
  .suffix-30 {
    margin-right: 30%; }
  .push-30 {
    left: 30%; }
  .pull-30 {
    left: -30%; }
  .grid-35 {
    float: left;
    width: 35%; }
  .prefix-35 {
    margin-left: 35%; }
  .suffix-35 {
    margin-right: 35%; }
  .push-35 {
    left: 35%; }
  .pull-35 {
    left: -35%; }
  .grid-40 {
    float: left;
    width: 40%; }
  .prefix-40 {
    margin-left: 40%; }
  .suffix-40 {
    margin-right: 40%; }
  .push-40 {
    left: 40%; }
  .pull-40 {
    left: -40%; }
  .grid-45 {
    float: left;
    width: 45%; }
  .prefix-45 {
    margin-left: 45%; }
  .suffix-45 {
    margin-right: 45%; }
  .push-45 {
    left: 45%; }
  .pull-45 {
    left: -45%; }
  .grid-50 {
    float: left;
    width: 50%; }
  .prefix-50 {
    margin-left: 50%; }
  .suffix-50 {
    margin-right: 50%; }
  .push-50 {
    left: 50%; }
  .pull-50 {
    left: -50%; }
  .grid-55 {
    float: left;
    width: 55%; }
  .prefix-55 {
    margin-left: 55%; }
  .suffix-55 {
    margin-right: 55%; }
  .push-55 {
    left: 55%; }
  .pull-55 {
    left: -55%; }
  .grid-60 {
    float: left;
    width: 60%; }
  .prefix-60 {
    margin-left: 60%; }
  .suffix-60 {
    margin-right: 60%; }
  .push-60 {
    left: 60%; }
  .pull-60 {
    left: -60%; }
  .grid-65 {
    float: left;
    width: 65%; }
  .prefix-65 {
    margin-left: 65%; }
  .suffix-65 {
    margin-right: 65%; }
  .push-65 {
    left: 65%; }
  .pull-65 {
    left: -65%; }
  .grid-70 {
    float: left;
    width: 70%; }
  .prefix-70 {
    margin-left: 70%; }
  .suffix-70 {
    margin-right: 70%; }
  .push-70 {
    left: 70%; }
  .pull-70 {
    left: -70%; }
  .grid-75 {
    float: left;
    width: 75%; }
  .prefix-75 {
    margin-left: 75%; }
  .suffix-75 {
    margin-right: 75%; }
  .push-75 {
    left: 75%; }
  .pull-75 {
    left: -75%; }
  .grid-80 {
    float: left;
    width: 80%; }
  .prefix-80 {
    margin-left: 80%; }
  .suffix-80 {
    margin-right: 80%; }
  .push-80 {
    left: 80%; }
  .pull-80 {
    left: -80%; }
  .grid-85 {
    float: left;
    width: 85%; }
  .prefix-85 {
    margin-left: 85%; }
  .suffix-85 {
    margin-right: 85%; }
  .push-85 {
    left: 85%; }
  .pull-85 {
    left: -85%; }
  .grid-90 {
    float: left;
    width: 90%; }
  .prefix-90 {
    margin-left: 90%; }
  .suffix-90 {
    margin-right: 90%; }
  .push-90 {
    left: 90%; }
  .pull-90 {
    left: -90%; }
  .grid-95 {
    float: left;
    width: 95%; }
  .prefix-95 {
    margin-left: 95%; }
  .suffix-95 {
    margin-right: 95%; }
  .push-95 {
    left: 95%; }
  .pull-95 {
    left: -95%; }
  .grid-33 {
    float: left;
    width: 33.33333%; }
  .prefix-33 {
    margin-left: 33.33333%; }
  .suffix-33 {
    margin-right: 33.33333%; }
  .push-33 {
    left: 33.33333%; }
  .pull-33 {
    left: -33.33333%; }
  .grid-66 {
    float: left;
    width: 66.66667%; }
  .prefix-66 {
    margin-left: 66.66667%; }
  .suffix-66 {
    margin-right: 66.66667%; }
  .push-66 {
    left: 66.66667%; }
  .pull-66 {
    left: -66.66667%; }
  .grid-100 {
    clear: both;
    width: 100%; } }

/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/ }

.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px; }

.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px; }

.datepicker > div {
  display: none; }

.datepicker table {
  width: 100%;
  margin: 0; }

.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px; }

.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer; }

.datepicker td.day.disabled {
  color: #eeeeee; }

.datepicker td.old,
.datepicker td.new {
  color: #999999; }

.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3; }

.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9; }

.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px; }

.datepicker td span:hover {
  background: #eeeeee; }

.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3; }

.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9; }

.datepicker td span.old {
  color: #999999; }

.datepicker th.switch {
  width: 145px; }

.datepicker th.next,
.datepicker th.prev {
  font-size: 21px; }

.datepicker thead tr:first-child th {
  cursor: pointer; }

.datepicker thead tr:first-child th:hover {
  background: #eeeeee; }

.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px; }

#banner-section {
  background: url("../images/clouds-o.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: center top;
  height: calc(100vh - 180px);
  width: 100%; }
  #banner-section .white-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    z-index: 2;
    top: 0;
    left: 0; }
  #banner-section .banner-container {
    height: 100%;
    width: 100%; }
  #banner-section .banner-inner {
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    text-align: center; }
  #banner-section .banner-contents {
    position: relative;
    width: 80%;
    display: inline-block;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 3;
    line-height: 4rem; }
    #banner-section .banner-contents a {
      margin-right: 5px;
      float: none; }
  #banner-section .building {
    background: url("../images/building-2.png");
    background-repeat: repeat-x;
    background-size: 400px;
    background-position: center bottom;
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0.75; }
    #banner-section .building .vehicle {
      position: absolute;
      bottom: 10px;
      height: 100px;
      text-align: center;
      width: 100%;
      opacity: 1;
      overflow: hidden; }
  #banner-section .tagline {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 5.5rem;
    padding: 20px 0; }

.car-moving {
  position: absolute;
  left: -10000px;
  bottom: 0;
  animation: moveCar 7s infinite;
  -webkit-animation: moveCar 7s infinite; }

.taxi-moving {
  position: absolute;
  bottom: 0;
  left: -10000px;
  animation: moveCar 5s infinite;
  -webkit-animation: moveCar 5s infinite;
  -webkit-animation-delay: 2s;
  /* Chrome, Safari, Opera */
  animation-delay: 2s; }

.jeep-moving {
  position: absolute;
  bottom: 0;
  left: -10000px;
  animation: moveCar 5s infinite;
  -webkit-animation: moveCar 5s infinite;
  -webkit-animation-delay: 4s;
  /* Chrome, Safari, Opera */
  animation-delay: 4s; }

/* Chrome, Safari, Opera */
@-webkit-keyframes moveCar {
  0% {
    left: -30%; }
  25% {
    left: 15%; }
  50% {
    left: 30%; }
  75% {
    left: 140%; }
  100% {
    left: 160%; } }

@keyframes moveCar {
  0% {
    left: -30%; }
  25% {
    left: 35%; }
  50% {
    left: 60%; }
  75% {
    left: 100%; }
  100% {
    left: 160%; } }

@-webkit-keyframes moveTaxi {
  0% {
    left: 50%; }
  25% {
    left: 55%; }
  60% {
    left: 60%; }
  100% {
    left: 50%; } }

@keyframes moveTaxi {
  0% {
    left: 50%; }
  25% {
    left: 55%; }
  60% {
    left: 60%; }
  100% {
    left: 50%; } }

@-webkit-keyframes moveJeep {
  0% {
    margin-bottom: 8px; }
  100% {
    margin-bottom: 5px; } }

@keyframes moveJeep {
  0% {
    margin-bottom: 8px; }
  100% {
    margin-bottom: 5px; } }

.gutter-sizer {
  width: 5px; }

.report-card {
  display: inline-block;
  list-style: none;
  cursor: pointer;
  width: 25%;
  margin-bottom: 5px;
  font-size: 0; }
  @media all and (max-width: 1036px) {
    .report-card {
      width: 25%; } }
  @media all and (max-width: 960px) {
    .report-card {
      width: 33.33%; } }
  @media all and (max-width: 768px) {
    .report-card {
      width: 50%; } }
  @media all and (max-width: 375px) {
    .report-card {
      width: 100%; } }
  .report-card .report-card-inner {
    padding: 10px; }
    .report-card .report-card-inner .report-card-content {
      box-shadow: 0px 0px 3px 0 #bbb;
      overflow: hidden;
      border-radius: 8px; }
    .report-card .report-card-inner .report-card-detail {
      padding: 10px;
      background: #fff; }
    .report-card .report-card-inner .report-card-title {
      font-weight: bold;
      color: #444;
      font-size: 2.4rem;
      line-height: 2.4rem; }
    .report-card .report-card-inner .report-card-description {
      color: #777; }
    .report-card .report-card-inner .report-card-meta {
      color: #777;
      font-size: 1.2rem; }
  .report-card h3 {
    margin: 4px 0 14px 0; }

.card-actions {
  border-top: 1px dotted #ddd;
  padding-top: 10px; }
  .card-actions a {
    margin-right: 5px; }

#search-section {
  background-color: #f3f3f3;
  font-size: 0;
  padding-top: 45px;
  padding-bottom: 45px; }

header {
  width: 100%;
  z-index: 100;
  background: #fcfcfc;
  border: 1px solid #e8e8e8; }

@-webkit-keyframes slideDown {
  0%, 100% {
    -webkit-transform: translateY(-50px); }
  10%, 90% {
    -webkit-transform: translateY(0px); } }

.note-alert {
  position: absolute;
  top: 100%;
  left: 0;
  height: 23px;
  z-index: 90;
  margin-top: 14px;
  display: none; }
  .note-alert .note-alert-inner {
    background: #16a085;
    height: 100%;
    border: 1px solid #15977e;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2.1rem; }

.absoluteheader {
  position: absolute;
  background: transparent; }

#user-menu {
  display: inline-block;
  position: relative; }
  #user-menu .menu-dropdown.visible {
    visibility: visible;
    opacity: 1;
    display: block; }
  #user-menu .menu-dropdown {
    position: absolute;
    background: #da4536;
    border: 1px solid #bb3022;
    z-index: 500;
    width: 100%;
    top: calc(100% + 13px);
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: hidden;
    opacity: 0;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 1px;
    border-top: 0; }
    #user-menu .menu-dropdown a {
      text-decoration: none;
      display: inline-block;
      padding: 15px 18px;
      transition: 0.25s linear all;
      cursor: pointer;
      color: #fff; }
      #user-menu .menu-dropdown a:hover {
        padding-left: 25px; }

#links-right {
  display: inline-block;
  text-align: right; }
  #links-right a {
    line-height: 1.8rem;
    text-decoration: none;
    display: inline-block;
    padding: 9px 7px;
    margin: 0 5px;
    border-radius: 3px;
    font-size: 1.4rem;
    cursor: pointer;
    float: left; }
  #links-right #fb-login {
    color: #fff;
    background: #3498db; }
    @media all and (max-width: 767px) {
      #links-right #fb-login {
        margin-left: 7px; } }

.navigation {
  padding-top: 13px;
  padding-bottom: 13px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  position: relative; }
  .navigation .navigation-inner {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-flex-direction: row; }
    .navigation .navigation-inner .search-button-group {
      -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .navigation li {
    display: inline-block; }

.nav-left {
  float: left; }

.nav-right {
  display: inline-block;
  position: relative; }
  .nav-right a {
    margin-left: 10px;
    float: left;
    line-height: 1.8rem;
    padding: 7px 14px; }

.brand-logo {
  display: inline-block;
  float: left;
  margin-right: 7px; }
  .brand-logo img {
    line-height: 33px;
    margin-top: 3px; }

.search-button-group {
  position: relative; }

.search-button {
  position: absolute !important;
  right: 4px; }

@media all and (max-width: 767px) {
  .brand-logo img {
    display: none; }
  .brand-logo {
    height: 36px;
    background: url("../images/favicon.png");
    width: 36px;
    background-size: contain;
    background-position: center !important;
    background-repeat: no-repeat;
    display: inline-block; } }

.header-user-picture {
  height: 33px;
  width: 33px;
  border: 1px solid #ddd;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  float: left; }

.header-user-name {
  line-height: 33px;
  color: #444;
  font-size: 1.3rem;
  font-weight: bold;
  display: inline-block;
  height: 33px;
  float: left;
  margin-left: 8px; }

.nav-account {
  height: 65px;
  width: 65px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 100%;
  position: relative; }

.menu-button {
  margin-left: 12px; }

.link-drop-down.visible {
  visibility: visible; }

.link-drop-down {
  visibility: hidden;
  position: absolute;
  right: 0px;
  top: 100%;
  height: 100px;
  background: #fff;
  width: 200px;
  z-index: 10000; }

.on-landing {
  background-color: transparent;
  border: 0;
  position: absolute; }
  .on-landing #links-right a.link {
    color: #fff !important; }
  .on-landing .brand-logo img {
    content: url("../images/roadmob-logo-light.png"); }
  .on-landing.daytime .brand-logo img {
    content: url("../images/roadmob-logo.png"); }
  .on-landing.daytime #roadmob-search-input {
    background: white; }
  .on-landing.daytime #links-right a.link {
    color: #fff !important;
    background: #da4536; }

.report-detail {
  position: relative; }

.report-detail-inner {
  background-color: #FEFEFE;
  padding: 0;
  border: 1px solid #e5e5e5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative; }
  .report-detail-inner .report-detail-inner-section {
    padding: 15px;
    border-bottom: 1px #ececec solid; }
  .report-detail-inner .hero-card-image {
    margin-bottom: 10px; }
  .report-detail-inner .heading-medium {
    padding-top: 20px; }
  .report-detail-inner .modal-close {
    font-size: 1.6rem;
    z-index: 100;
    top: 0px;
    right: -20px;
    color: #fff;
    line-height: 1.6rem;
    text-align: center;
    display: inline-block;
    border-radius: 100%; }
  .report-detail-inner .btn-social {
    margin-right: 10px; }
  .report-detail-inner .report-incident {
    font-size: 1.6rem; }

.report-detail-inner.report-comments {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #f7f7f7;
  border-color: #e5e5e5; }

@media all and (max-width: 767px) {
  #report-detail-region .report-detail-inner {
    background: #fff;
    box-shadow: none; } }

#report-collection-region {
  position: relative; }
  #report-collection-region .recent-header {
    background-color: #333;
    color: #999; }

.report-feed {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px; }

.report-feed-icon {
  float: left;
  height: 48px;
  width: 48px;
  background-size: cover;
  background-color: #FFE83C; }

.btn {
  outline: 0;
  border: 0;
  background-color: #da4536;
  padding: 7px 18px;
  border-radius: 5px;
  color: #FEFEFE;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 2px solid #d03626;
  line-height: 1.8rem;
  transition: 0.2s linear all; }

.btn-block {
  width: 100%;
  display: block; }

.btn-red {
  background-color: #da4536;
  border-color: #d03626; }

.btn-transparent-green {
  background-color: transparent;
  border: 2px solid #27ae60;
  color: #27ae60; }

.btn:hover {
  background-color: #d03626; }

.btn-default {
  background-color: #ddd;
  border-bottom: 2px solid #c4c4c4;
  color: #444; }
  .btn-default:hover {
    background-color: #c4c4c4; }

.btn-default-inverse {
  background-color: transparent;
  border-color: #a2a2a2;
  color: #989898; }
  .btn-default-inverse:hover {
    background-color: #fafafa;
    color: #323232; }

.btn-dark {
  background-color: #2C3E50; }
  .btn-dark:hover {
    background-color: #1a252f; }

.btn-social,
.btn-card {
  height: 30px;
  text-align: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 28px; }

.btn-social {
  width: 30px;
  padding: 0 !important;
  border-color: transparent;
  background-color: #3b5998;
  color: #fff;
  float: left; }
  .btn-social:hover {
    background-color: #344e86;
    color: #fff; }

.btn-circle {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 48px;
  font-size: 24px;
  border-style: solid; }

.btn-loading {
  background-image: url("../images/loader.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px; }

.btn-right {
  float: right; }

.btn:focus {
  outline: 0; }

.btn-normal {
  background-color: #fff;
  color: #3498db;
  border-color: #f1f1f1; }

.btn-normal:hover {
  background-color: #f7f7f7; }

.btn-normal-inverse {
  background-color: #3b5998;
  color: #FEFEFE;
  border-color: #2d4373; }

.btn-normal-inverse:hover {
  background-color: #258cd1; }

.btn-normal-light {
  background: #b0d0e5;
  border-color: #9dc5df;
  color: #3498db; }
  .btn-normal-light:hover {
    background: #9dc5df;
    color: #3498db; }

.btn-normal-bordered {
  background: transparent;
  border: 1px solid #258cd1;
  color: #3498db; }
  .btn-normal-bordered:hover {
    background: #f2f2f2;
    color: #3498db; }

.btn-green {
  background-color: #27ae60;
  border-bottom-color: #229955; }

.btn-green:hover {
  background-color: #229955; }

.btn-green-inverse {
  background-color: #FEFEFE;
  border-bottom-color: #f1f1f1;
  color: #27ae60; }

.btn-green-inverse:hover {
  background-color: #f1f1f1; }

.btn-large {
  font-size: 1.8rem;
  line-height: 2.4rem; }

.btn-medium {
  font-size: 1.6rem;
  line-height: 2rem; }

.btn-small {
  font-size: 1.2rem;
  padding: 6px 14px; }

.btn-tweet {
  background-color: #55acee; }
  .btn-tweet:hover {
    background-color: #3ea1ec;
    color: #fff; }

.btn-kakao {
  background-image: url("/static/app/images/kakao-logo.png");
  background-position: center;
  background-size: cover; }

.btn-tweet-inverse {
  background-color: transparent;
  border: 1px solid #2795e9;
  color: #55acee; }

.btn-tweet-inverse:hover {
  background-color: #3ea1ec; }

#locationField, #controls {
  position: relative; }

#autocomplete {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99%; }

.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030; }

#address {
  border: 1px solid #000090;
  background-color: #f0f0ff;
  width: 480px;
  padding-right: 2px; }

#address td {
  font-size: 10pt; }

.field {
  width: 99%; }

.slimField {
  width: 80px; }

.wideField {
  width: 200px; }

#locationField {
  margin-bottom: 2px; }

.max-10000 {
  max-width: 100000px; }

.float-right {
  float: right; }

.fadeout {
  position: absolute;
  bottom: 0em;
  width: 100%;
  height: 4em;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, white 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, white 100%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, white 100%); }

.vm-wrapper {
  display: table; }

.vm-wrapper .vm-content {
  display: table-cell;
  vertical-align: middle; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-red {
  color: #da4536; }

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.div-loading {
  background-image: url("../images/loader-light.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 40px;
  height: 70px; }

.div-loading-rolling-orange {
  background-image: url("../images/loader.gif"); }

.heading-medium {
  font-size: 2.4rem;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold; }

.heading-large {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: bold; }

.heading-meta {
  font-size: 1.6rem;
  color: #777; }

.heading-light {
  color: #FEFEFE; }

.btn-rounded-right {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

input, textarea, select {
  outline: 0;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #fff; }

.form-body input, .form-body select {
  height: 3.6rem; }

.form-body textarea {
  resize: none;
  padding-top: 8px;
  padding-bottom: 8px; }

.input-rounded {
  border-radius: 3px; }

.input-rounded-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

input:focus {
  outline: 0; }

.loader {
  padding-top: 20px;
  padding-bottom: 20px; }

.tags-small {
  font-size: 1.4rem;
  line-height: 1.3rem;
  color: #000;
  background-color: #FFE83C;
  border-radius: 2px;
  padding: 7px 7px;
  display: inline-block;
  word-break: break-all; }

.text-small {
  font-size: 1.4rem;
  line-height: 2rem; }

.text-16 {
  font-size: 1.6rem;
  line-height: 1.8rem; }

.text-medium {
  font-size: 2.4rem;
  line-height: 2.4rem; }

.text-large {
  font-size: 2.4rem; }

.text-white {
  color: #FEFEFE; }

.text-dark-green {
  color: #166337; }

.text-meta {
  color: #777; }

.button-input-group {
  display: inline-block;
  height: 2rem;
  font-size: 0; }
  .button-input-group .btn, .button-input-group input {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle; }
  .button-input-group input {
    margin-right: -1px;
    padding: 8px 14px; }

.search-button-group {
  display: inline-block;
  float: left;
  font-size: 0; }
  .search-button-group .btn, .search-button-group input {
    display: inline-block;
    vertical-align: middle;
    float: left;
    padding: 7px 14px;
    color: #777;
    background: #eee;
    height: 36px; }
  .search-button-group .btn {
    right: 0;
    line-height: 18px; }
  .search-button-group input::-webkit-input-placeholder {
    color: #aaa; }
  .search-button-group input:-moz-placeholder {
    /* Firefox 18- */
    color: #aaa; }
  .search-button-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaa; }
  .search-button-group input:-ms-input-placeholder {
    color: #aaa; }

.search-button-group-tall .btn, .search-button-group-tall input {
  line-height: 3.2rem; }

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
  width: 100% !important; }

.green-bg {
  background-color: #27ae60; }

.borderless {
  border: 0 !important; }

.divider {
  height: 1px;
  border-bottom: 1px dotted #777; }

.v-padded-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.v-padded-25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.v-padded-36 {
  padding-top: 36px;
  padding-bottom: 36px; }

.v-padded-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.v-padded-50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.padded-bottom-20 {
  padding-bottom: 20px; }

.padded-bottom-25 {
  padding-bottom: 25px; }

.padded-top-25 {
  padding-top: 20px; }

.padded-top-50 {
  padding-top: 50px; }

.padded-bottom-10 {
  padding-bottom: 10px; }

.padded-bottom {
  padding-bottom: 150px; }

/* Overlays */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5); }

.overlay-loading {
  position: absolute;
  width: 100%;
  height: 100px;
  background-image: url("../images/loader.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50px;
  margin-top: -100px;
  top: 50%; }

.opaque {
  opacity: 0; }

@media all and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
    visibility: hidden; } }

@media all and (max-width: 386px) {
  .text-left-on-mobile {
    text-align: left !important; } }

@media all and (max-width: 1024px) {
  .hide-on-tablet {
    display: none;
    visibility: hidden; } }

.meta-text {
  color: #aaa;
  font-size: 1.3rem; }

.section-header {
  margin: 0 0 18px 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase; }

.page-header {
  background-color: #fafafa; }

.section-subheader {
  margin-top: -12px;
  color: #9a9a9a; }

.input-group {
  padding-top: 10px;
  padding-bottom: 10px; }

.form {
  margin: 25px 0;
  padding: 0;
  overflow: hidden;
  /* For Mozilla Firefox */ }
  .form input, .form select, .form textarea {
    box-shadow: none;
    font-size: 1.3rem; }
  .form .heading-medium {
    border-bottom: 1px dotted #ddd;
    line-height: 6rem; }
  .form input::-webkit-input-placeholder,
  .form textarea::-webkit-input-placeholder {
    font-size: 1.3rem; }
  .form input:-moz-placeholder,
  .form textarea:-moz-placeholder {
    font-size: 1.3rem; }

.form-header {
  background: #fafafa;
  color: #444;
  margin: 0;
  font-size: 3.6rem; }

.form-label {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #444;
  line-height: 3.6rem; }
  @media all and (max-width: 767px) {
    .form-label {
      text-align: left; } }

.input-danger {
  border: 1px solid #da4536; }

.error-text {
  margin-bottom: 10px;
  color: #da4536;
  font-size: 1.3rem; }

input[type=file] {
  border: 0;
  background: 0;
  padding-top: 0.8rem; }

.upload-preview-wrapper {
  float: left;
  display: inline-block;
  width: auto;
  position: relative; }
  .upload-preview-wrapper img {
    width: calc(100% - 14px); }
  .upload-preview-wrapper .clear-upload {
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #333;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 1; }
    .upload-preview-wrapper .clear-upload.hidden {
      display: none; }

.datepicker.dropdown-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #eee;
  display: none; }

@-webkit-keyframes fadeAndScale {
  from {
    opacity: 0;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

@keyframes fadeAndScale {
  from {
    opacity: 0;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

.modal-region {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 100;
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  text-align: center;
  z-index: 300; }
  .modal-region .preloader {
    position: relative;
    display: inline-block;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .modal-region.hidden {
    display: none; }
  .modal-region-white {
    background: rgba(255, 255, 255, 0.8); }

.modal-fixed-center {
  display: inline-block;
  height: auto;
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  border-radius: 3px;
  z-index: 1;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  animation: fadeAndScale 0.3s 1;
  -webkit-animation: fadeAndScale 0.3s 1;
  position: relative;
  padding: 15px; }

.modal-close {
  position: absolute;
  font-size: 1.4rem;
  color: #777;
  top: 15px;
  right: 15px;
  cursor: pointer; }

.footer-notice {
  position: fixed;
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  bottom: 0;
  left: 0;
  background: rgba(218, 69, 54, 0.9);
  color: #fff;
  font-size: 1.4rem;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 100; }
  .footer-notice a {
    text-decoration: none;
    font-weight: bold;
    color: #fff; }

.hero-map {
  height: 534px;
  width: 100%; }
  @media all and (max-width: 500px) {
    .hero-map {
      height: 380px; } }

.hero-gmap-container {
  position: relative; }

.hero-overlay {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }
  .hero-overlay.daytime {
    background: rgba(255, 255, 255, 0.2); }
    .hero-overlay.daytime h1 {
      color: #333;
      z-index: 1; }

.hero-overlay__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  .hero-overlay__container > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  @media all and (max-width: 500px) {
    .hero-overlay__container {
      text-align: center; } }

.hero-overlay h1 {
  margin: 0 0 32px 0;
  max-width: 500px;
  font-size: 50px;
  color: white;
  line-height: 1.2; }
  @media all and (max-width: 500px) {
    .hero-overlay h1 {
      font-size: 32px; } }

.hero-overlay h5 {
  margin: 0 0 16px 0;
  max-width: 500px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 1.2;
  letter-spacing: 0.3px; }

.hero-overlay a {
  display: inline-block;
  background-color: #da4536;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: 250ms; }

.hero-overlay a:hover {
  background-color: #c83324; }

.hero-card .hero-card-inner {
  position: relative;
  float: left;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  padding: 0;
  margin-bottom: 20px; }

.hero-card:hover .hero-card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.grid {
  position: relative; }
  .grid .hero-card {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px; }

.hero-card-overlay {
  position: absolute;
  left: 0;
  right: 0;
  padding: 12px;
  z-index: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 4px 4px 0 0;
  transition: 200ms; }
  .hero-card-overlay.overlay-top {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    border-radius: 4px 4px 0 0;
    text-align: right; }
  .hero-card-overlay .share-button {
    margin: 0 0 0 6px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    padding: 0;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    float: right; }
    .hero-card-overlay .share-button.facebook {
      background-color: #3b5998; }
    .hero-card-overlay .share-button.twitter {
      background-color: #55acee; }
    .hero-card-overlay .share-button.kakao {
      background-image: url("/static/app/images/kakao-logo.png");
      background-size: cover;
      background-position: center; }

.hero-card-image {
  position: relative;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  padding: 60% 0 0 0;
  cursor: pointer;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  .hero-card-image .image {
    display: block;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    background-size: cover;
    background-position: center;
    border-radius: 4px 4px 0 0;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.hero-card-vehicle {
  overflow: hidden;
  border-bottom: 1px #ececec solid; }
  .hero-card-vehicle-icon {
    float: left;
    height: 48px;
    width: 48px;
    background-color: #FFE83C; }
  .hero-card-vehicle-info {
    float: left;
    width: calc(100% - 48px);
    padding: 8px 12px;
    cursor: pointer; }
    .hero-card-vehicle-info h5 {
      margin: 0;
      font-size: 15px;
      line-height: 1.2;
      font-weight: 600;
      color: #111; }
    .hero-card-vehicle-info h6 {
      margin: 0;
      font-size: 12px;
      line-height: 1.2;
      font-weight: 400;
      color: #888; }
  .hero-card-vehicle .motorcycle {
    background-image: url("/static/app/images/vehicles/noun_143285_cc.svg");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center 3px; }
  .hero-card-vehicle .taxi {
    background-image: url("/static/app/images/vehicles/noun_143282_cc.svg");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center 3px; }

.hero-card-reporttype {
  padding: 12px;
  border-bottom: 1px #ececec solid; }
  .hero-card-reporttype h5 {
    margin: 0;
    font-size: 16px;
    line-height: 2rem;
    color: #111;
    font-weight: 600; }
    @media all and (max-width: 500px) {
      .hero-card-reporttype h5 {
        font-size: 1.4rem; } }

.hero-card-details {
  padding: 12px;
  border-bottom: 1px #ececec solid; }
  .hero-card-details p {
    margin: 0;
    font-size: 13px; }
  .hero-card-details .description {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.8rem;
    min-height: 3.6rem;
    max-height: 3.6rem; }
  .hero-card-details .location {
    margin-bottom: 6px;
    color: #888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.hero-card-postinfo {
  padding: 6px 12px;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.live-reports-wrapper {
  background: white; }

.live-reports-carousel {
  width: 100%;
  overflow-x: hidden; }

.live-reports {
  margin: 0 -6px;
  width: 20000px;
  overflow: hidden; }

.live-report {
  width: 122px; }
  .live-report-wrapper {
    float: left;
    padding: 6px; }
  .live-report-image {
    position: relative;
    width: 100%;
    height: 122px;
    background-size: cover;
    background-position: center center; }
  .live-report-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .live-report-overlay.motorcycle {
      background-image: url("/static/app/images/vehicles/noun_143285_cc.svg");
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: 4px 75px; }
    .live-report-overlay.car {
      background-image: url("/static/app/images/vehicles/noun_143282_cc.svg");
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: 4px 75px; }
    .live-report-overlay.uv {
      background-image: url("/static/app/images/vehicles/noun_143278_cc.svg");
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: 4px 75px; }
  .live-report-reporttype h5 {
    margin: 6px 0 2px 0;
    font-size: 13px;
    font-weight: 600;
    color: #333;
    line-height: 16px; }
  .live-report-plate h6 {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: #9a9a9a; }

.how-it-works-wrapper {
  background: white; }

.how-it-works-container {
  margin-top: 36px; }

.how-it-works-entry h5 {
  margin: 0 0 12px 0;
  font-size: 18px;
  font-weight: 700;
  color: #333; }

.how-it-works-entry p {
  color: #888; }

.how-it-works-icon {
  display: inline-block;
  width: 155px;
  height: 155px;
  background-color: #f7f7f7;
  background-size: 50% auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  margin-top: 15px;
  margin-bottom: 15px; }

.report-icon {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: #333;
  display: inline-block; }

.report-title {
  cursor: pointer; }

.report-detail-image {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  padding: 0; }

.dashboard-region-heading {
  background-color: #fff;
  color: #111;
  font-weight: bold;
  border-radius: 5px;
  border-bottom: 0; }

.dashboard-region {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  overflow: hidden; }
  .dashboard-region .divider {
    border-color: #aaa; }
  .dashboard-region.no-heading {
    border: 1px solid #e5e5e5;
    border-radius: 5px; }

.profile-picture {
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 100%; }

.dashboard-report {
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  border-bottom: 1px dotted #aaa; }
  .dashboard-report:hover {
    background: #fafafa; }
  .dashboard-report:last-of-type {
    border: 0; }

.report-detail-image.preview {
  max-height: 150px;
  overflow: hidden; }
  .report-detail-image.preview img {
    position: relative; }

[data-columns]::before {
  content: '3 .column.size-1of3.hero-card'; }

/* These are the classes that are going to be applied: */
.column {
  float: left;
  padding-left: 10px;
  padding-right: 10px; }

.size-1of3 {
  width: 33.333%; }

@keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0); }
  100% {
    -webkit-transform: scale(1, 1); } }

.preloader {
  position: relative;
  width: 40px;
  height: 20px;
  display: inline-block;
  padding: 0px;
  text-align: left; }

.preloader span {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #da4536;
  -webkit-animation: preloader 0.7s linear infinite alternate;
  animation: preloader 0.7s linear infinite alternate; }

.preloader span:last-child {
  animation-delay: -0.7s;
  -webkit-animation-delay: -0.7s;
  margin-left: 20px; }

@font-face {
  font-family: 'Clear Sans';
  font-style: thin;
  font-weight: 200;
  src: url("../fonts/ClearSans-Thin.woff") format("woff"); }

@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ClearSans-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Clear Sans';
  font-style: bold;
  font-weight: 600;
  src: url("../fonts/ClearSans-Bold.woff") format("woff"); }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

a, button {
  outline: 0; }

body {
  font-family: 'soleil','Clear Sans', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  color: #333;
  position: relative;
  background-color: #f3f3f3; }

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh; }
  #site-wrapper .site-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.5s ease all;
    z-index: 300; }

#modal-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 1s ease all; }
  #modal-overlay.modal-overlay-visible {
    visibility: visible;
    display: inline-block;
    opacity: 1; }

#site-canvas {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transition: 0.3s ease all; }

#site-menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #da4536;
  z-index: 5;
  left: 100%;
  padding-top: 100px; }
  #site-menu .site-menu-close {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    font-size: 20px;
    cursor: pointer; }
  #site-menu .site-menu-link {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    outline: 0; }

#site-wrapper.show-nav #site-canvas {
  -webkit-transform: translate(-300px, 0);
          transform: translate(-300px, 0);
  height: 100vh; }

#site-wrapper.show-nav .site-overlay {
  visibility: visible;
  opacity: 1;
  display: block; }

body, a, input, textarea, span, select, label, p {
  font-size: 1.4rem;
  font-family: 'soleil', 'Clear Sans', Helvetica, sans-serif;
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#footer {
  background: #555;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white; }

#report-search {
  min-height: 480px; }

#main-region {
  padding-bottom: 120px; }
