@-webkit-keyframes fadeAndScale {
  from {
    opacity: 0;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

@keyframes fadeAndScale {
  from {
    opacity: 0;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

.modal-region {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 100;
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  text-align: center;
  z-index: 300; }
  .modal-region .preloader {
    position: relative;
    display: inline-block;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .modal-region.hidden {
    display: none; }
  .modal-region-white {
    background: rgba(255, 255, 255, 0.8); }

.modal-fixed-center {
  display: inline-block;
  height: auto;
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  border-radius: 3px;
  z-index: 1;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  animation: fadeAndScale 0.3s 1;
  -webkit-animation: fadeAndScale 0.3s 1;
  position: relative;
  padding: 15px; }

.modal-close {
  position: absolute;
  font-size: 1.4rem;
  color: #777;
  top: 15px;
  right: 15px;
  cursor: pointer; }

.footer-notice {
  position: fixed;
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  bottom: 0;
  left: 0;
  background: rgba(218, 69, 54, 0.9);
  color: #fff;
  font-size: 1.4rem;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 100; }
  .footer-notice a {
    text-decoration: none;
    font-weight: bold;
    color: #fff; }
