@keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0); }
  100% {
    -webkit-transform: scale(1, 1); } }

.preloader {
  position: relative;
  width: 40px;
  height: 20px;
  display: inline-block;
  padding: 0px;
  text-align: left; }

.preloader span {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #da4536;
  -webkit-animation: preloader 0.7s linear infinite alternate;
  animation: preloader 0.7s linear infinite alternate; }

.preloader span:last-child {
  animation-delay: -0.7s;
  -webkit-animation-delay: -0.7s;
  margin-left: 20px; }
