@import 'variables';
@import 'mixin';

header {
	padding: 13px 0;
	width: 100%;
	z-index: 200;
	background: #fcfcfc;
	@include translate(0,0);
	border: 1px solid #e8e8e8;
}

.absoluteheader {
	position: absolute;
	background: transparent;
}

#user-menu {
	display: inline-block;
	position: relative;
	.menu-dropdown.visible {
		visibility: visible;
		opacity: 1;
		display: block;
	}
	.menu-dropdown {
		position: absolute;
		background: #f9f9f9;
		border: 1px solid #e8e8e8;
		z-index: 5;
		width: 100%;
		top: calc(100% + 13px);
		left: 0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		visibility: hidden;
		opacity: 0;
		display: none;
		padding-top: 10px;
		padding-bottom: 10px;
		a {
			padding: 15px 18px;
			transition: 0.25s linear all;
			cursor: pointer;
			&:hover {
				padding-left: 25px;
			}
		}
	}
}

#links-right {
	display: inline-block;
	text-align: right;
	a{
		line-height: 1.8rem;
		text-decoration: none;
		display: inline-block;
		padding: 4px 8px;
		margin: 3px 3px;
		border-radius: 3px;
		font-size: 1.3rem;
		cursor: pointer;
		float: left;
	}
	.link.btn {
		margin-left: 8px;
		margin-right: 8px;
	}
	#fb-login {
		color: #fff;
		background: $blue;
	}
}
.navigation {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;

	.navigation-inner {
		display:flex;
		display: -webkit-flex;
		flex-direction:row;
		-webkit-flex-direction: row;
		.search-button-group {
			-webkit-flex: 1;
			flex:1
		}
	}
	li {
		display: inline-block;
	}
}

.nav-left {
	float: left;
}

.nav-right {
	display: inline-block;
	position: relative;
	a {
		margin-left: 10px;
		float:left;
	}
}
.brand-logo {
	display: inline-block;
	float: left;
	margin-right: 20px;
	img {
		line-height: 33px;
		margin-top: 3px;
	}
}
.search-button-group {
	position: relative;
}
.search-button {
	position: absolute !important;
	right: 4px;
}
@media all and (max-width: 767px) {
  .brand-logo img {
    display: none;
  }
	.brand-logo {
		height: 32px;
		background: url('../images/favicon.png');
		width: 32px;
		margin-top: 1px;
		background-size: contain;
		background-position: center !important;
		background-repeat: no-repeat;
		display: inline-block;
	}
}

.header-user-picture {
	height: 33px;
	width: 33px;
	background-size: cover;
	background-position: center;
	display: inline-block;
	border-radius: 100%;
	position: relative;
	float: left;
}
.header-user-name {
	line-height: 33px;
	color: #444;
	font-size: 1.3rem;
	font-weight: bold;
	display: inline-block;
	height: 33px;
	float: left;
	margin-left: 8px;
}
.nav-account {
	height: 65px;
	width: 65px;
	background-size: cover;
	background-position: center;
	display: inline-block;
	border-radius: 100%;
	position: relative;
}
.menu-button {
	margin-left: 20px;
}
.link-drop-down.visible {
	visibility: visible;
}
.link-drop-down {
	visibility: hidden;
	position: absolute;
	right: 0px;
	top: 100%;
	height: 100px;
	background: #fff;
	width: 200px;
	z-index: 10000;
}

.on-landing {
	background-color: transparent;
	border: 0;
	position: absolute;
	#links-right a.link {
		color: #fff !important;
	}
	.brand-logo img {
		content: url('../images/roadmob-logo-light.png');
	}
	&.daytime {
		.brand-logo img {
			content: url('../images/roadmob-logo.png');
		}
		#roadmob-search-input {
			background: white;
		}
		#links-right a.link {
			color: #fff !important;
			background: $red;
		}
	}
}
