// HERO
.hero-map {
  height: 644px;
  width: 100%;
}
.hero-gmap-container {
  position: relative;
}
.hero-overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  &.daytime {
    background: rgba(255,255,255, 0.2);
    h1 {
      color: #333;
      z-index: 1;
    }
  }
}
.hero-overlay__container {
  text-align: center;
}
.hero-overlay h1 {
  margin: 0 0 32px 0;
  font-size: 50px;
  color: white;
  line-height: 1.2;
}
.hero-overlay a {
  display: inline-block;
  background-color: rgb(218, 69, 54);
  color: white;
  padding: 10px 28px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;

  text-decoration: none;

  transition: 250ms;
}
.hero-overlay a:hover {
  background-color: rgb(200, 51, 36);
}
