@import "variables";

#banner-section {
	background: url('../images/clouds-o.png');
	background-size: auto 100%;
	background-repeat: repeat-x;
	background-position: center top;
	min-height: 250px;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	width: 100%;

	.white-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.15);
		z-index: 2;
		top: 0;
		left: 0;
	}

	.banner-contents {
		position: relative;
		z-index: 3;
	}
	.building {
		background: url('../images/building-2.png');
		background-repeat: repeat-x;
		background-size: 400px;
		background-position: center bottom;
		position: absolute;
		width: 100%;
		height: 250px;
		bottom: 0;
		left: 0;
		z-index: 1;
		opacity: 0.75;

		.vehicle {
			position: absolute;
			bottom: 10px;
			height: 100px;
			text-align: center;
			width: 100%;
            opacity: 1;
            overflow: hidden;
		}
	}

	.tagline {
		font-size: 4.5rem;
		font-weight: bold;
		line-height: 5.5rem;
		padding: 20px 0;
	}
}

.car-moving{
	position: absolute;
	left: -10000px;
	bottom: 0;
	animation: moveCar 7s infinite;
	-webkit-animation: moveCar 7s infinite;
}
.taxi-moving{
	position: absolute;
	bottom: 0;
	left: -10000px;
	animation: moveCar 5s infinite;
	-webkit-animation: moveCar 5s infinite;
	-webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
}
.jeep-moving{
	position: absolute;
	bottom: 0;
	left: -10000px;
	animation: moveCar 5s infinite;
	-webkit-animation: moveCar 5s infinite;
	-webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
    animation-delay: 4s;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes moveCar {
    0%   {left: -30%; }
    25%  {left: 15%;}
    50%  {left: 30%;}
    75%  {left: 140%;}
    100% {left: 160%;}
}

@keyframes moveCar {
    0%   {left: -30%; }
    25%  {left: 35%;}
    50%  {left: 60%;}
    75%  {left: 100%;}
    100% {left: 160%;}
}

@-webkit-keyframes moveTaxi {
    0%   {left: 50% }
    25%  {left: 55%;}
    60%  {left: 60%;}
    100% {left: 50%;}
}

@keyframes moveTaxi {
    0%   {left: 50% }
    25%  {left: 55%;}
    60%  {left: 60%;}
    100% {left: 50%;}
}

@-webkit-keyframes moveJeep {
    0%   {margin-bottom: 8px; }
    100%  {margin-bottom: 5px;}
}

@keyframes moveJeep {

    0%   {margin-bottom: 8px; }
    100%  {margin-bottom: 5px;}
}


.gutter-sizer { width: 5px; }

.report-card {

	display: inline-block;
	list-style: none;
	cursor: pointer;
	width: 25%;
	margin-bottom: 5px;
	font-size: 0;

	@media all and (max-width: 1036px) {
    width: 25%;
  }

  @media all and (max-width: 960px) {
    width: 33.33%;
  }

	@media all and (max-width: 768px) {
    width: 50%;
  }
  @media all and (max-width: 375px) {
    width: 100%;
  }

	.report-card-inner {
		padding: 10px;
		.report-card-content{
			box-shadow: 0px 0px 3px 0 #bbb;
			overflow: hidden;
			border-radius: 8px;
			img {
			}
		}
		.report-card-detail {
			padding: 10px;
			background: #fff;

		}
		.report-card-title {
			font-weight: bold;
			color: #444;
			font-size: 2.4rem;
			line-height: 2.4rem;
		}
		.report-card-description {
			color: #777;
		}
		.report-card-meta {
			color: #777;
			font-size: 1.2rem;
		}
	}



	h3 {
		margin: 4px 0 14px 0;
	}
}
.card-actions {
	border-top: 1px dotted #ddd;
	padding-top: 10px;

	a {
		margin-right: 5px;
	}
}
#search-section {
	background-color: $graywhite;
	font-size: 0;
	padding-top: 45px;
	padding-bottom: 45px;
}
