@import "variables";
@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.85, .85);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}
.modal-region {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 100;
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  &.hidden {
    display: none;
  }
}
.modal-fixed-center {
	height: 300px;
	width: 300px;
	background-color: #fff;
	border-radius: 3px;
	z-index: 1;
	position: absolute;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -150px;
	animation: fadeAndScale 0.3s 1;
	-webkit-animation: fadeAndScale 0.3s 1;
	position: relative;


}

.modal-close {
  position: absolute;
  font-size: 1.4rem;
  color: #777;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
