@import 'variables';
.report-detail {
	position: relative;
}
.report-detail-inner {
	background-color: $white;
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	position: relative;
	.card-actions {

	}
	.modal-close {
		font-size: 1.6rem;
		z-index: 100;
	}
}

@media all and (max-width: 767px) {
	#report-detail-region .report-detail-inner {
		background: #fff;
		box-shadow: none;
	}
}

#report-collection-region {
	position: relative;

	.recent-header {
		background-color: #333;
		color: #999;
	}
}
