$orange: #FF6600;
$white: #FEFEFE;
$graywhite: #f3f3f3;
$blue: #3498db;
$green: #27ae60;
$lightgreen: #b5e0dc;
$light-blue: #b0d0e5;
$twitter-blue: #1CCAFD;
$madisonblue: #2C3E50;
$red: #da4536;
$pink: #ffe5e5;
$greensea: #16a085;
