.btn {
  outline: 0;
  border: 0;
  background-color: #da4536;
  padding: 7px 18px;
  border-radius: 3px;
  color: #FEFEFE;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 2px solid #d03626;
  line-height: 1.8rem;
  transition: 0.2s linear all; }

.btn-block {
  width: 100%;
  display: block; }

.btn-red {
  background-color: #da4536;
  border-color: #d03626; }

.btn-transparent-green {
  background-color: transparent;
  border: 2px solid #27ae60;
  color: #27ae60; }

.btn:hover {
  background-color: #d03626; }

.btn-default {
  background-color: #ddd;
  border-bottom: 2px solid #c4c4c4;
  color: #444; }
  .btn-default:hover {
    background-color: #c4c4c4; }

.btn-default-inverse {
  background-color: transparent;
  border-color: #a2a2a2;
  color: #989898; }
  .btn-default-inverse:hover {
    background-color: #e9e9e9;
    color: #323232; }

.btn-dark {
  background-color: #2C3E50; }
  .btn-dark:hover {
    background-color: #1a242f; }

.btn-social,
.btn-card {
  height: 30px;
  text-align: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 28px; }

.btn-social {
  width: 30px;
  padding: 0 !important;
  border-radius: 100%; }

.btn-circle {
  border-width: 1px;
  border-style: solid; }

.btn-loading {
  background-image: url("../images/loader.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px; }

.btn-right {
  float: right; }

.btn:focus {
  outline: 0; }

.btn-normal {
  background-color: #fff;
  color: #3498db;
  border-color: #f1f1f1; }

.btn-normal:hover {
  background-color: #f7f7f7; }

.btn-normal-inverse {
  background-color: #3498db;
  color: #FEFEFE;
  border-color: #217dbb; }

.btn-normal-inverse:hover {
  background-color: #258cd1; }

.btn-normal-light {
  background: #b0d0e5;
  border-color: #9dc5df;
  color: #3498db; }
  .btn-normal-light:hover {
    background: #9dc5df;
    color: #3498db; }

.btn-normal-bordered {
  background: transparent;
  border: 1px solid #258cd1;
  color: #3498db; }
  .btn-normal-bordered:hover {
    background: #f2f2f2;
    color: #3498db; }

.btn-green {
  background-color: #27ae60;
  border-bottom-color: #229955; }

.btn-green:hover {
  background-color: #229955; }

.btn-green-inverse {
  background-color: #FEFEFE;
  border-bottom-color: #f1f1f1;
  color: #27ae60; }

.btn-green-inverse:hover {
  background-color: #f1f1f1; }

.btn-large {
  font-size: 1.8rem;
  line-height: 2.4rem; }

.btn-medium {
  font-size: 1.6rem;
  line-height: 2rem; }

.btn-small {
  font-size: 1.2rem;
  padding: 6px 14px; }

.btn-tweet {
  background-color: #1CCAFD;
  border-color: #02b1e4; }

.btn-tweet:hover {
  background-color: #03c4fd; }

.btn-tweet-inverse {
  background-color: transparent;
  border: 1px solid #02b1e4;
  color: #1CCAFD; }

.btn-tweet-inverse:hover {
  background-color: #03c4fd; }
