.report-icon {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: #333;
  display: inline-block; }

.report-title {
  cursor: pointer; }

.report-detail-image {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  padding: 0; }

.dashboard-region-heading {
  background-color: #b5e0dc;
  color: #16a085;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #a3d8d4;
  border-bottom: 0; }

.dashboard-region {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  overflow: hidden; }
  .dashboard-region .divider {
    border-color: #aaa; }
  .dashboard-region.no-heading {
    border: 1px solid #e5e5e5;
    border-radius: 5px; }

.profile-picture {
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 100%; }

.dashboard-report {
  cursor: pointer;
  border-bottom: 1px dotted #aaa;
  padding-top: 20px;
  padding-bottom: 20px; }
  .dashboard-report:hover {
    background: #fafafa; }
  .dashboard-report:last-of-type {
    border: 0; }

.report-detail-image.preview {
  max-height: 150px;
  overflow: hidden; }
  .report-detail-image.preview img {
    position: relative; }
