header {
  padding: 13px 0;
  width: 100%;
  z-index: 200;
  background: #fcfcfc;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  border: 1px solid #e8e8e8; }

.absoluteheader {
  position: absolute;
  background: transparent; }

#user-menu {
  display: inline-block;
  position: relative; }
  #user-menu .menu-dropdown.visible {
    visibility: visible;
    opacity: 1;
    display: block; }
  #user-menu .menu-dropdown {
    position: absolute;
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
    z-index: 5;
    width: 100%;
    top: calc(100% + 13px);
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: hidden;
    opacity: 0;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px; }
    #user-menu .menu-dropdown a {
      padding: 15px 18px;
      transition: 0.25s linear all;
      cursor: pointer; }
      #user-menu .menu-dropdown a:hover {
        padding-left: 25px; }

#links-right {
  display: inline-block;
  text-align: right; }
  #links-right a {
    line-height: 1.8rem;
    text-decoration: none;
    display: inline-block;
    padding: 4px 8px;
    margin: 3px 3px;
    border-radius: 3px;
    font-size: 1.3rem;
    cursor: pointer;
    float: left; }
  #links-right .link.btn {
    margin-left: 8px;
    margin-right: 8px; }
  #links-right #fb-login {
    color: #fff;
    background: #3498db; }

.navigation {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0; }
  .navigation .navigation-inner {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-flex-direction: row; }
    .navigation .navigation-inner .search-button-group {
      -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .navigation li {
    display: inline-block; }

.nav-left {
  float: left; }

.nav-right {
  display: inline-block;
  position: relative; }
  .nav-right a {
    margin-left: 10px;
    float: left; }

.brand-logo {
  display: inline-block;
  float: left;
  margin-right: 20px; }
  .brand-logo img {
    line-height: 33px;
    margin-top: 3px; }

.search-button-group {
  position: relative; }

.search-button {
  position: absolute !important;
  right: 4px; }

@media all and (max-width: 767px) {
  .brand-logo img {
    display: none; }
  .brand-logo {
    height: 32px;
    background: url("../images/favicon.png");
    width: 32px;
    margin-top: 1px;
    background-size: contain;
    background-position: center !important;
    background-repeat: no-repeat;
    display: inline-block; } }

.header-user-picture {
  height: 33px;
  width: 33px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  float: left; }

.header-user-name {
  line-height: 33px;
  color: #444;
  font-size: 1.3rem;
  font-weight: bold;
  display: inline-block;
  height: 33px;
  float: left;
  margin-left: 8px; }

.nav-account {
  height: 65px;
  width: 65px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 100%;
  position: relative; }

.menu-button {
  margin-left: 20px; }

.link-drop-down.visible {
  visibility: visible; }

.link-drop-down {
  visibility: hidden;
  position: absolute;
  right: 0px;
  top: 100%;
  height: 100px;
  background: #fff;
  width: 200px;
  z-index: 10000; }

.on-landing {
  background-color: transparent;
  border: 0;
  position: absolute; }
  .on-landing #links-right a.link {
    color: #fff !important; }
  .on-landing .brand-logo img {
    content: url("../images/roadmob-logo-light.png"); }
  .on-landing.daytime .brand-logo img {
    content: url("../images/roadmob-logo.png"); }
  .on-landing.daytime #roadmob-search-input {
    background: white; }
  .on-landing.daytime #links-right a.link {
    color: #fff !important;
    background: #da4536; }
