/* ================================================================== */
/* This file has a mobile-to-tablet, and tablet-to-desktop breakpoint */
/* ================================================================== */
@media (max-width: 400px) {
  @-ms-viewport {
    width: 320px; } }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.grid-container:before,
.grid-5:before,
.mobile-grid-5:before,
.tablet-grid-5:before,
.grid-10:before,
.mobile-grid-10:before,
.tablet-grid-10:before,
.grid-15:before,
.mobile-grid-15:before,
.tablet-grid-15:before,
.grid-20:before,
.mobile-grid-20:before,
.tablet-grid-20:before,
.grid-25:before,
.mobile-grid-25:before,
.tablet-grid-25:before,
.grid-30:before,
.mobile-grid-30:before,
.tablet-grid-30:before,
.grid-35:before,
.mobile-grid-35:before,
.tablet-grid-35:before,
.grid-40:before,
.mobile-grid-40:before,
.tablet-grid-40:before,
.grid-45:before,
.mobile-grid-45:before,
.tablet-grid-45:before,
.grid-50:before,
.mobile-grid-50:before,
.tablet-grid-50:before,
.grid-55:before,
.mobile-grid-55:before,
.tablet-grid-55:before,
.grid-60:before,
.mobile-grid-60:before,
.tablet-grid-60:before,
.grid-65:before,
.mobile-grid-65:before,
.tablet-grid-65:before,
.grid-70:before,
.mobile-grid-70:before,
.tablet-grid-70:before,
.grid-75:before,
.mobile-grid-75:before,
.tablet-grid-75:before,
.grid-80:before,
.mobile-grid-80:before,
.tablet-grid-80:before,
.grid-85:before,
.mobile-grid-85:before,
.tablet-grid-85:before,
.grid-90:before,
.mobile-grid-90:before,
.tablet-grid-90:before,
.grid-95:before,
.mobile-grid-95:before,
.tablet-grid-95:before,
.grid-100:before,
.mobile-grid-100:before,
.tablet-grid-100:before,
.grid-33:before,
.mobile-grid-33:before,
.tablet-grid-33:before,
.grid-66:before,
.mobile-grid-66:before,
.tablet-grid-66:before,
.clearfix:before,
.grid-container:after,
.grid-5:after,
.mobile-grid-5:after,
.tablet-grid-5:after,
.grid-10:after,
.mobile-grid-10:after,
.tablet-grid-10:after,
.grid-15:after,
.mobile-grid-15:after,
.tablet-grid-15:after,
.grid-20:after,
.mobile-grid-20:after,
.tablet-grid-20:after,
.grid-25:after,
.mobile-grid-25:after,
.tablet-grid-25:after,
.grid-30:after,
.mobile-grid-30:after,
.tablet-grid-30:after,
.grid-35:after,
.mobile-grid-35:after,
.tablet-grid-35:after,
.grid-40:after,
.mobile-grid-40:after,
.tablet-grid-40:after,
.grid-45:after,
.mobile-grid-45:after,
.tablet-grid-45:after,
.grid-50:after,
.mobile-grid-50:after,
.tablet-grid-50:after,
.grid-55:after,
.mobile-grid-55:after,
.tablet-grid-55:after,
.grid-60:after,
.mobile-grid-60:after,
.tablet-grid-60:after,
.grid-65:after,
.mobile-grid-65:after,
.tablet-grid-65:after,
.grid-70:after,
.mobile-grid-70:after,
.tablet-grid-70:after,
.grid-75:after,
.mobile-grid-75:after,
.tablet-grid-75:after,
.grid-80:after,
.mobile-grid-80:after,
.tablet-grid-80:after,
.grid-85:after,
.mobile-grid-85:after,
.tablet-grid-85:after,
.grid-90:after,
.mobile-grid-90:after,
.tablet-grid-90:after,
.grid-95:after,
.mobile-grid-95:after,
.tablet-grid-95:after,
.grid-100:after,
.mobile-grid-100:after,
.tablet-grid-100:after,
.grid-33:after,
.mobile-grid-33:after,
.tablet-grid-33:after,
.grid-66:after,
.mobile-grid-66:after,
.tablet-grid-66:after,
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.grid-container:after,
.grid-5:after,
.mobile-grid-5:after,
.tablet-grid-5:after,
.grid-10:after,
.mobile-grid-10:after,
.tablet-grid-10:after,
.grid-15:after,
.mobile-grid-15:after,
.tablet-grid-15:after,
.grid-20:after,
.mobile-grid-20:after,
.tablet-grid-20:after,
.grid-25:after,
.mobile-grid-25:after,
.tablet-grid-25:after,
.grid-30:after,
.mobile-grid-30:after,
.tablet-grid-30:after,
.grid-35:after,
.mobile-grid-35:after,
.tablet-grid-35:after,
.grid-40:after,
.mobile-grid-40:after,
.tablet-grid-40:after,
.grid-45:after,
.mobile-grid-45:after,
.tablet-grid-45:after,
.grid-50:after,
.mobile-grid-50:after,
.tablet-grid-50:after,
.grid-55:after,
.mobile-grid-55:after,
.tablet-grid-55:after,
.grid-60:after,
.mobile-grid-60:after,
.tablet-grid-60:after,
.grid-65:after,
.mobile-grid-65:after,
.tablet-grid-65:after,
.grid-70:after,
.mobile-grid-70:after,
.tablet-grid-70:after,
.grid-75:after,
.mobile-grid-75:after,
.tablet-grid-75:after,
.grid-80:after,
.mobile-grid-80:after,
.tablet-grid-80:after,
.grid-85:after,
.mobile-grid-85:after,
.tablet-grid-85:after,
.grid-90:after,
.mobile-grid-90:after,
.tablet-grid-90:after,
.grid-95:after,
.mobile-grid-95:after,
.tablet-grid-95:after,
.grid-100:after,
.mobile-grid-100:after,
.tablet-grid-100:after,
.grid-33:after,
.mobile-grid-33:after,
.tablet-grid-33:after,
.grid-66:after,
.mobile-grid-66:after,
.tablet-grid-66:after,
.clearfix:after {
  clear: both; }

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-left: -10px;
  padding-right: -10px; }

.grid-5,
.mobile-grid-5,
.tablet-grid-5,
.grid-10,
.mobile-grid-10,
.tablet-grid-10,
.grid-15,
.mobile-grid-15,
.tablet-grid-15,
.grid-20,
.mobile-grid-20,
.tablet-grid-20,
.grid-25,
.mobile-grid-25,
.tablet-grid-25,
.grid-30,
.mobile-grid-30,
.tablet-grid-30,
.grid-35,
.mobile-grid-35,
.tablet-grid-35,
.grid-40,
.mobile-grid-40,
.tablet-grid-40,
.grid-45,
.mobile-grid-45,
.tablet-grid-45,
.grid-50,
.mobile-grid-50,
.tablet-grid-50,
.grid-55,
.mobile-grid-55,
.tablet-grid-55,
.grid-60,
.mobile-grid-60,
.tablet-grid-60,
.grid-65,
.mobile-grid-65,
.tablet-grid-65,
.grid-70,
.mobile-grid-70,
.tablet-grid-70,
.grid-75,
.mobile-grid-75,
.tablet-grid-75,
.grid-80,
.mobile-grid-80,
.tablet-grid-80,
.grid-85,
.mobile-grid-85,
.tablet-grid-85,
.grid-90,
.mobile-grid-90,
.tablet-grid-90,
.grid-95,
.mobile-grid-95,
.tablet-grid-95,
.grid-100,
.mobile-grid-100,
.tablet-grid-100,
.grid-33,
.mobile-grid-33,
.tablet-grid-33,
.grid-66,
.mobile-grid-66,
.tablet-grid-66 {
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px; }

.grid-parent {
  padding-left: 0;
  padding-right: 0; }

@media (max-width: 767px) {
  .mobile-push-5,
  .mobile-pull-5,
  .mobile-push-10,
  .mobile-pull-10,
  .mobile-push-15,
  .mobile-pull-15,
  .mobile-push-20,
  .mobile-pull-20,
  .mobile-push-25,
  .mobile-pull-25,
  .mobile-push-30,
  .mobile-pull-30,
  .mobile-push-35,
  .mobile-pull-35,
  .mobile-push-40,
  .mobile-pull-40,
  .mobile-push-45,
  .mobile-pull-45,
  .mobile-push-50,
  .mobile-pull-50,
  .mobile-push-55,
  .mobile-pull-55,
  .mobile-push-60,
  .mobile-pull-60,
  .mobile-push-65,
  .mobile-pull-65,
  .mobile-push-70,
  .mobile-pull-70,
  .mobile-push-75,
  .mobile-pull-75,
  .mobile-push-80,
  .mobile-pull-80,
  .mobile-push-85,
  .mobile-pull-85,
  .mobile-push-90,
  .mobile-pull-90,
  .mobile-push-95,
  .mobile-pull-95,
  .mobile-push-33,
  .mobile-pull-33,
  .mobile-push-66,
  .mobile-pull-66 {
    position: relative; }
  .hide-on-mobile {
    display: none !important; }
  .mobile-grid-5 {
    float: left;
    width: 5%; }
  .mobile-prefix-5 {
    margin-left: 5%; }
  .mobile-suffix-5 {
    margin-right: 5%; }
  .mobile-push-5 {
    left: 5%; }
  .mobile-pull-5 {
    left: -5%; }
  .mobile-grid-10 {
    float: left;
    width: 10%; }
  .mobile-prefix-10 {
    margin-left: 10%; }
  .mobile-suffix-10 {
    margin-right: 10%; }
  .mobile-push-10 {
    left: 10%; }
  .mobile-pull-10 {
    left: -10%; }
  .mobile-grid-15 {
    float: left;
    width: 15%; }
  .mobile-prefix-15 {
    margin-left: 15%; }
  .mobile-suffix-15 {
    margin-right: 15%; }
  .mobile-push-15 {
    left: 15%; }
  .mobile-pull-15 {
    left: -15%; }
  .mobile-grid-20 {
    float: left;
    width: 20%; }
  .mobile-prefix-20 {
    margin-left: 20%; }
  .mobile-suffix-20 {
    margin-right: 20%; }
  .mobile-push-20 {
    left: 20%; }
  .mobile-pull-20 {
    left: -20%; }
  .mobile-grid-25 {
    float: left;
    width: 25%; }
  .mobile-prefix-25 {
    margin-left: 25%; }
  .mobile-suffix-25 {
    margin-right: 25%; }
  .mobile-push-25 {
    left: 25%; }
  .mobile-pull-25 {
    left: -25%; }
  .mobile-grid-30 {
    float: left;
    width: 30%; }
  .mobile-prefix-30 {
    margin-left: 30%; }
  .mobile-suffix-30 {
    margin-right: 30%; }
  .mobile-push-30 {
    left: 30%; }
  .mobile-pull-30 {
    left: -30%; }
  .mobile-grid-35 {
    float: left;
    width: 35%; }
  .mobile-prefix-35 {
    margin-left: 35%; }
  .mobile-suffix-35 {
    margin-right: 35%; }
  .mobile-push-35 {
    left: 35%; }
  .mobile-pull-35 {
    left: -35%; }
  .mobile-grid-40 {
    float: left;
    width: 40%; }
  .mobile-prefix-40 {
    margin-left: 40%; }
  .mobile-suffix-40 {
    margin-right: 40%; }
  .mobile-push-40 {
    left: 40%; }
  .mobile-pull-40 {
    left: -40%; }
  .mobile-grid-45 {
    float: left;
    width: 45%; }
  .mobile-prefix-45 {
    margin-left: 45%; }
  .mobile-suffix-45 {
    margin-right: 45%; }
  .mobile-push-45 {
    left: 45%; }
  .mobile-pull-45 {
    left: -45%; }
  .mobile-grid-50 {
    float: left;
    width: 50%; }
  .mobile-prefix-50 {
    margin-left: 50%; }
  .mobile-suffix-50 {
    margin-right: 50%; }
  .mobile-push-50 {
    left: 50%; }
  .mobile-pull-50 {
    left: -50%; }
  .mobile-grid-55 {
    float: left;
    width: 55%; }
  .mobile-prefix-55 {
    margin-left: 55%; }
  .mobile-suffix-55 {
    margin-right: 55%; }
  .mobile-push-55 {
    left: 55%; }
  .mobile-pull-55 {
    left: -55%; }
  .mobile-grid-60 {
    float: left;
    width: 60%; }
  .mobile-prefix-60 {
    margin-left: 60%; }
  .mobile-suffix-60 {
    margin-right: 60%; }
  .mobile-push-60 {
    left: 60%; }
  .mobile-pull-60 {
    left: -60%; }
  .mobile-grid-65 {
    float: left;
    width: 65%; }
  .mobile-prefix-65 {
    margin-left: 65%; }
  .mobile-suffix-65 {
    margin-right: 65%; }
  .mobile-push-65 {
    left: 65%; }
  .mobile-pull-65 {
    left: -65%; }
  .mobile-grid-70 {
    float: left;
    width: 70%; }
  .mobile-prefix-70 {
    margin-left: 70%; }
  .mobile-suffix-70 {
    margin-right: 70%; }
  .mobile-push-70 {
    left: 70%; }
  .mobile-pull-70 {
    left: -70%; }
  .mobile-grid-75 {
    float: left;
    width: 75%; }
  .mobile-prefix-75 {
    margin-left: 75%; }
  .mobile-suffix-75 {
    margin-right: 75%; }
  .mobile-push-75 {
    left: 75%; }
  .mobile-pull-75 {
    left: -75%; }
  .mobile-grid-80 {
    float: left;
    width: 80%; }
  .mobile-prefix-80 {
    margin-left: 80%; }
  .mobile-suffix-80 {
    margin-right: 80%; }
  .mobile-push-80 {
    left: 80%; }
  .mobile-pull-80 {
    left: -80%; }
  .mobile-grid-85 {
    float: left;
    width: 85%; }
  .mobile-prefix-85 {
    margin-left: 85%; }
  .mobile-suffix-85 {
    margin-right: 85%; }
  .mobile-push-85 {
    left: 85%; }
  .mobile-pull-85 {
    left: -85%; }
  .mobile-grid-90 {
    float: left;
    width: 90%; }
  .mobile-prefix-90 {
    margin-left: 90%; }
  .mobile-suffix-90 {
    margin-right: 90%; }
  .mobile-push-90 {
    left: 90%; }
  .mobile-pull-90 {
    left: -90%; }
  .mobile-grid-95 {
    float: left;
    width: 95%; }
  .mobile-prefix-95 {
    margin-left: 95%; }
  .mobile-suffix-95 {
    margin-right: 95%; }
  .mobile-push-95 {
    left: 95%; }
  .mobile-pull-95 {
    left: -95%; }
  .mobile-grid-33 {
    float: left;
    width: 33.33333%; }
  .mobile-prefix-33 {
    margin-left: 33.33333%; }
  .mobile-suffix-33 {
    margin-right: 33.33333%; }
  .mobile-push-33 {
    left: 33.33333%; }
  .mobile-pull-33 {
    left: -33.33333%; }
  .mobile-grid-66 {
    float: left;
    width: 66.66667%; }
  .mobile-prefix-66 {
    margin-left: 66.66667%; }
  .mobile-suffix-66 {
    margin-right: 66.66667%; }
  .mobile-push-66 {
    left: 66.66667%; }
  .mobile-pull-66 {
    left: -66.66667%; }
  .mobile-grid-100 {
    clear: both;
    width: 100%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .tablet-push-5,
  .tablet-pull-5,
  .tablet-push-10,
  .tablet-pull-10,
  .tablet-push-15,
  .tablet-pull-15,
  .tablet-push-20,
  .tablet-pull-20,
  .tablet-push-25,
  .tablet-pull-25,
  .tablet-push-30,
  .tablet-pull-30,
  .tablet-push-35,
  .tablet-pull-35,
  .tablet-push-40,
  .tablet-pull-40,
  .tablet-push-45,
  .tablet-pull-45,
  .tablet-push-50,
  .tablet-pull-50,
  .tablet-push-55,
  .tablet-pull-55,
  .tablet-push-60,
  .tablet-pull-60,
  .tablet-push-65,
  .tablet-pull-65,
  .tablet-push-70,
  .tablet-pull-70,
  .tablet-push-75,
  .tablet-pull-75,
  .tablet-push-80,
  .tablet-pull-80,
  .tablet-push-85,
  .tablet-pull-85,
  .tablet-push-90,
  .tablet-pull-90,
  .tablet-push-95,
  .tablet-pull-95,
  .tablet-push-33,
  .tablet-pull-33,
  .tablet-push-66,
  .tablet-pull-66 {
    position: relative; }
  .hide-on-tablet {
    display: none !important; }
  .tablet-grid-5 {
    float: left;
    width: 5%; }
  .tablet-prefix-5 {
    margin-left: 5%; }
  .tablet-suffix-5 {
    margin-right: 5%; }
  .tablet-push-5 {
    left: 5%; }
  .tablet-pull-5 {
    left: -5%; }
  .tablet-grid-10 {
    float: left;
    width: 10%; }
  .tablet-prefix-10 {
    margin-left: 10%; }
  .tablet-suffix-10 {
    margin-right: 10%; }
  .tablet-push-10 {
    left: 10%; }
  .tablet-pull-10 {
    left: -10%; }
  .tablet-grid-15 {
    float: left;
    width: 15%; }
  .tablet-prefix-15 {
    margin-left: 15%; }
  .tablet-suffix-15 {
    margin-right: 15%; }
  .tablet-push-15 {
    left: 15%; }
  .tablet-pull-15 {
    left: -15%; }
  .tablet-grid-20 {
    float: left;
    width: 20%; }
  .tablet-prefix-20 {
    margin-left: 20%; }
  .tablet-suffix-20 {
    margin-right: 20%; }
  .tablet-push-20 {
    left: 20%; }
  .tablet-pull-20 {
    left: -20%; }
  .tablet-grid-25 {
    float: left;
    width: 25%; }
  .tablet-prefix-25 {
    margin-left: 25%; }
  .tablet-suffix-25 {
    margin-right: 25%; }
  .tablet-push-25 {
    left: 25%; }
  .tablet-pull-25 {
    left: -25%; }
  .tablet-grid-30 {
    float: left;
    width: 30%; }
  .tablet-prefix-30 {
    margin-left: 30%; }
  .tablet-suffix-30 {
    margin-right: 30%; }
  .tablet-push-30 {
    left: 30%; }
  .tablet-pull-30 {
    left: -30%; }
  .tablet-grid-35 {
    float: left;
    width: 35%; }
  .tablet-prefix-35 {
    margin-left: 35%; }
  .tablet-suffix-35 {
    margin-right: 35%; }
  .tablet-push-35 {
    left: 35%; }
  .tablet-pull-35 {
    left: -35%; }
  .tablet-grid-40 {
    float: left;
    width: 40%; }
  .tablet-prefix-40 {
    margin-left: 40%; }
  .tablet-suffix-40 {
    margin-right: 40%; }
  .tablet-push-40 {
    left: 40%; }
  .tablet-pull-40 {
    left: -40%; }
  .tablet-grid-45 {
    float: left;
    width: 45%; }
  .tablet-prefix-45 {
    margin-left: 45%; }
  .tablet-suffix-45 {
    margin-right: 45%; }
  .tablet-push-45 {
    left: 45%; }
  .tablet-pull-45 {
    left: -45%; }
  .tablet-grid-50 {
    float: left;
    width: 50%; }
  .tablet-prefix-50 {
    margin-left: 50%; }
  .tablet-suffix-50 {
    margin-right: 50%; }
  .tablet-push-50 {
    left: 50%; }
  .tablet-pull-50 {
    left: -50%; }
  .tablet-grid-55 {
    float: left;
    width: 55%; }
  .tablet-prefix-55 {
    margin-left: 55%; }
  .tablet-suffix-55 {
    margin-right: 55%; }
  .tablet-push-55 {
    left: 55%; }
  .tablet-pull-55 {
    left: -55%; }
  .tablet-grid-60 {
    float: left;
    width: 60%; }
  .tablet-prefix-60 {
    margin-left: 60%; }
  .tablet-suffix-60 {
    margin-right: 60%; }
  .tablet-push-60 {
    left: 60%; }
  .tablet-pull-60 {
    left: -60%; }
  .tablet-grid-65 {
    float: left;
    width: 65%; }
  .tablet-prefix-65 {
    margin-left: 65%; }
  .tablet-suffix-65 {
    margin-right: 65%; }
  .tablet-push-65 {
    left: 65%; }
  .tablet-pull-65 {
    left: -65%; }
  .tablet-grid-70 {
    float: left;
    width: 70%; }
  .tablet-prefix-70 {
    margin-left: 70%; }
  .tablet-suffix-70 {
    margin-right: 70%; }
  .tablet-push-70 {
    left: 70%; }
  .tablet-pull-70 {
    left: -70%; }
  .tablet-grid-75 {
    float: left;
    width: 75%; }
  .tablet-prefix-75 {
    margin-left: 75%; }
  .tablet-suffix-75 {
    margin-right: 75%; }
  .tablet-push-75 {
    left: 75%; }
  .tablet-pull-75 {
    left: -75%; }
  .tablet-grid-80 {
    float: left;
    width: 80%; }
  .tablet-prefix-80 {
    margin-left: 80%; }
  .tablet-suffix-80 {
    margin-right: 80%; }
  .tablet-push-80 {
    left: 80%; }
  .tablet-pull-80 {
    left: -80%; }
  .tablet-grid-85 {
    float: left;
    width: 85%; }
  .tablet-prefix-85 {
    margin-left: 85%; }
  .tablet-suffix-85 {
    margin-right: 85%; }
  .tablet-push-85 {
    left: 85%; }
  .tablet-pull-85 {
    left: -85%; }
  .tablet-grid-90 {
    float: left;
    width: 90%; }
  .tablet-prefix-90 {
    margin-left: 90%; }
  .tablet-suffix-90 {
    margin-right: 90%; }
  .tablet-push-90 {
    left: 90%; }
  .tablet-pull-90 {
    left: -90%; }
  .tablet-grid-95 {
    float: left;
    width: 95%; }
  .tablet-prefix-95 {
    margin-left: 95%; }
  .tablet-suffix-95 {
    margin-right: 95%; }
  .tablet-push-95 {
    left: 95%; }
  .tablet-pull-95 {
    left: -95%; }
  .tablet-grid-33 {
    float: left;
    width: 33.33333%; }
  .tablet-prefix-33 {
    margin-left: 33.33333%; }
  .tablet-suffix-33 {
    margin-right: 33.33333%; }
  .tablet-push-33 {
    left: 33.33333%; }
  .tablet-pull-33 {
    left: -33.33333%; }
  .tablet-grid-66 {
    float: left;
    width: 66.66667%; }
  .tablet-prefix-66 {
    margin-left: 66.66667%; }
  .tablet-suffix-66 {
    margin-right: 66.66667%; }
  .tablet-push-66 {
    left: 66.66667%; }
  .tablet-pull-66 {
    left: -66.66667%; }
  .tablet-grid-100 {
    clear: both;
    width: 100%; } }

@media (min-width: 1025px) {
  .push-5,
  .pull-5,
  .push-10,
  .pull-10,
  .push-15,
  .pull-15,
  .push-20,
  .pull-20,
  .push-25,
  .pull-25,
  .push-30,
  .pull-30,
  .push-35,
  .pull-35,
  .push-40,
  .pull-40,
  .push-45,
  .pull-45,
  .push-50,
  .pull-50,
  .push-55,
  .pull-55,
  .push-60,
  .pull-60,
  .push-65,
  .pull-65,
  .push-70,
  .pull-70,
  .push-75,
  .pull-75,
  .push-80,
  .pull-80,
  .push-85,
  .pull-85,
  .push-90,
  .pull-90,
  .push-95,
  .pull-95,
  .push-33,
  .pull-33,
  .push-66,
  .pull-66 {
    position: relative; }
  .hide-on-desktop {
    display: none !important; }
  .grid-5 {
    float: left;
    width: 5%; }
  .prefix-5 {
    margin-left: 5%; }
  .suffix-5 {
    margin-right: 5%; }
  .push-5 {
    left: 5%; }
  .pull-5 {
    left: -5%; }
  .grid-10 {
    float: left;
    width: 10%; }
  .prefix-10 {
    margin-left: 10%; }
  .suffix-10 {
    margin-right: 10%; }
  .push-10 {
    left: 10%; }
  .pull-10 {
    left: -10%; }
  .grid-15 {
    float: left;
    width: 15%; }
  .prefix-15 {
    margin-left: 15%; }
  .suffix-15 {
    margin-right: 15%; }
  .push-15 {
    left: 15%; }
  .pull-15 {
    left: -15%; }
  .grid-20 {
    float: left;
    width: 20%; }
  .prefix-20 {
    margin-left: 20%; }
  .suffix-20 {
    margin-right: 20%; }
  .push-20 {
    left: 20%; }
  .pull-20 {
    left: -20%; }
  .grid-25 {
    float: left;
    width: 25%; }
  .prefix-25 {
    margin-left: 25%; }
  .suffix-25 {
    margin-right: 25%; }
  .push-25 {
    left: 25%; }
  .pull-25 {
    left: -25%; }
  .grid-30 {
    float: left;
    width: 30%; }
  .prefix-30 {
    margin-left: 30%; }
  .suffix-30 {
    margin-right: 30%; }
  .push-30 {
    left: 30%; }
  .pull-30 {
    left: -30%; }
  .grid-35 {
    float: left;
    width: 35%; }
  .prefix-35 {
    margin-left: 35%; }
  .suffix-35 {
    margin-right: 35%; }
  .push-35 {
    left: 35%; }
  .pull-35 {
    left: -35%; }
  .grid-40 {
    float: left;
    width: 40%; }
  .prefix-40 {
    margin-left: 40%; }
  .suffix-40 {
    margin-right: 40%; }
  .push-40 {
    left: 40%; }
  .pull-40 {
    left: -40%; }
  .grid-45 {
    float: left;
    width: 45%; }
  .prefix-45 {
    margin-left: 45%; }
  .suffix-45 {
    margin-right: 45%; }
  .push-45 {
    left: 45%; }
  .pull-45 {
    left: -45%; }
  .grid-50 {
    float: left;
    width: 50%; }
  .prefix-50 {
    margin-left: 50%; }
  .suffix-50 {
    margin-right: 50%; }
  .push-50 {
    left: 50%; }
  .pull-50 {
    left: -50%; }
  .grid-55 {
    float: left;
    width: 55%; }
  .prefix-55 {
    margin-left: 55%; }
  .suffix-55 {
    margin-right: 55%; }
  .push-55 {
    left: 55%; }
  .pull-55 {
    left: -55%; }
  .grid-60 {
    float: left;
    width: 60%; }
  .prefix-60 {
    margin-left: 60%; }
  .suffix-60 {
    margin-right: 60%; }
  .push-60 {
    left: 60%; }
  .pull-60 {
    left: -60%; }
  .grid-65 {
    float: left;
    width: 65%; }
  .prefix-65 {
    margin-left: 65%; }
  .suffix-65 {
    margin-right: 65%; }
  .push-65 {
    left: 65%; }
  .pull-65 {
    left: -65%; }
  .grid-70 {
    float: left;
    width: 70%; }
  .prefix-70 {
    margin-left: 70%; }
  .suffix-70 {
    margin-right: 70%; }
  .push-70 {
    left: 70%; }
  .pull-70 {
    left: -70%; }
  .grid-75 {
    float: left;
    width: 75%; }
  .prefix-75 {
    margin-left: 75%; }
  .suffix-75 {
    margin-right: 75%; }
  .push-75 {
    left: 75%; }
  .pull-75 {
    left: -75%; }
  .grid-80 {
    float: left;
    width: 80%; }
  .prefix-80 {
    margin-left: 80%; }
  .suffix-80 {
    margin-right: 80%; }
  .push-80 {
    left: 80%; }
  .pull-80 {
    left: -80%; }
  .grid-85 {
    float: left;
    width: 85%; }
  .prefix-85 {
    margin-left: 85%; }
  .suffix-85 {
    margin-right: 85%; }
  .push-85 {
    left: 85%; }
  .pull-85 {
    left: -85%; }
  .grid-90 {
    float: left;
    width: 90%; }
  .prefix-90 {
    margin-left: 90%; }
  .suffix-90 {
    margin-right: 90%; }
  .push-90 {
    left: 90%; }
  .pull-90 {
    left: -90%; }
  .grid-95 {
    float: left;
    width: 95%; }
  .prefix-95 {
    margin-left: 95%; }
  .suffix-95 {
    margin-right: 95%; }
  .push-95 {
    left: 95%; }
  .pull-95 {
    left: -95%; }
  .grid-33 {
    float: left;
    width: 33.33333%; }
  .prefix-33 {
    margin-left: 33.33333%; }
  .suffix-33 {
    margin-right: 33.33333%; }
  .push-33 {
    left: 33.33333%; }
  .pull-33 {
    left: -33.33333%; }
  .grid-66 {
    float: left;
    width: 66.66667%; }
  .prefix-66 {
    margin-left: 66.66667%; }
  .suffix-66 {
    margin-right: 66.66667%; }
  .push-66 {
    left: 66.66667%; }
  .pull-66 {
    left: -66.66667%; }
  .grid-100 {
    clear: both;
    width: 100%; } }

#banner-section {
  background: url("../images/clouds-o.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: center top;
  min-height: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  width: 100%; }
  #banner-section .white-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    z-index: 2;
    top: 0;
    left: 0; }
  #banner-section .banner-contents {
    position: relative;
    z-index: 3; }
  #banner-section .building {
    background: url("../images/building-2.png");
    background-repeat: repeat-x;
    background-size: 400px;
    background-position: center bottom;
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0.75; }
    #banner-section .building .vehicle {
      position: absolute;
      bottom: 10px;
      height: 100px;
      text-align: center;
      width: 100%;
      opacity: 1;
      overflow: hidden; }
  #banner-section .tagline {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 5.5rem;
    padding: 20px 0; }

.car-moving {
  position: absolute;
  left: -10000px;
  bottom: 0;
  animation: moveCar 7s infinite;
  -webkit-animation: moveCar 7s infinite; }

.taxi-moving {
  position: absolute;
  bottom: 0;
  left: -10000px;
  animation: moveCar 5s infinite;
  -webkit-animation: moveCar 5s infinite;
  -webkit-animation-delay: 2s;
  /* Chrome, Safari, Opera */
  animation-delay: 2s; }

.jeep-moving {
  position: absolute;
  bottom: 0;
  left: -10000px;
  animation: moveCar 5s infinite;
  -webkit-animation: moveCar 5s infinite;
  -webkit-animation-delay: 4s;
  /* Chrome, Safari, Opera */
  animation-delay: 4s; }

/* Chrome, Safari, Opera */
@-webkit-keyframes moveCar {
  0% {
    left: -30%; }
  25% {
    left: 15%; }
  50% {
    left: 30%; }
  75% {
    left: 140%; }
  100% {
    left: 160%; } }

@keyframes moveCar {
  0% {
    left: -30%; }
  25% {
    left: 35%; }
  50% {
    left: 60%; }
  75% {
    left: 100%; }
  100% {
    left: 160%; } }

@-webkit-keyframes moveTaxi {
  0% {
    left: 50%; }
  25% {
    left: 55%; }
  60% {
    left: 60%; }
  100% {
    left: 50%; } }

@keyframes moveTaxi {
  0% {
    left: 50%; }
  25% {
    left: 55%; }
  60% {
    left: 60%; }
  100% {
    left: 50%; } }

@-webkit-keyframes moveJeep {
  0% {
    margin-bottom: 8px; }
  100% {
    margin-bottom: 5px; } }

@keyframes moveJeep {
  0% {
    margin-bottom: 8px; }
  100% {
    margin-bottom: 5px; } }

.gutter-sizer {
  width: 5px; }

.report-card {
  display: inline-block;
  list-style: none;
  cursor: pointer;
  width: 25%;
  margin-bottom: 5px;
  font-size: 0; }
  @media all and (max-width: 1036px) {
    .report-card {
      width: 25%; } }
  @media all and (max-width: 960px) {
    .report-card {
      width: 33.33%; } }
  @media all and (max-width: 768px) {
    .report-card {
      width: 50%; } }
  @media all and (max-width: 375px) {
    .report-card {
      width: 100%; } }
  .report-card .report-card-inner {
    padding: 10px; }
    .report-card .report-card-inner .report-card-content {
      box-shadow: 0px 0px 3px 0 #bbb;
      overflow: hidden;
      border-radius: 8px; }
    .report-card .report-card-inner .report-card-detail {
      padding: 10px;
      background: #fff; }
    .report-card .report-card-inner .report-card-title {
      font-weight: bold;
      color: #444;
      font-size: 2.4rem;
      line-height: 2.4rem; }
    .report-card .report-card-inner .report-card-description {
      color: #777; }
    .report-card .report-card-inner .report-card-meta {
      color: #777;
      font-size: 1.2rem; }
  .report-card h3 {
    margin: 4px 0 14px 0; }

.card-actions {
  border-top: 1px dotted #ddd;
  padding-top: 10px; }
  .card-actions a {
    margin-right: 5px; }

#search-section {
  background-color: #f3f3f3;
  font-size: 0;
  padding-top: 45px;
  padding-bottom: 45px; }

header {
  padding: 13px 0;
  width: 100%;
  z-index: 200;
  background: #fcfcfc;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  border: 1px solid #e8e8e8; }

.absoluteheader {
  position: absolute;
  background: transparent; }

#user-menu {
  display: inline-block;
  position: relative; }
  #user-menu .menu-dropdown.visible {
    visibility: visible;
    opacity: 1;
    display: block; }
  #user-menu .menu-dropdown {
    position: absolute;
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
    z-index: 5;
    width: 100%;
    top: calc(100% + 13px);
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: hidden;
    opacity: 0;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px; }
    #user-menu .menu-dropdown a {
      padding: 15px 18px;
      transition: 0.25s linear all;
      cursor: pointer; }
      #user-menu .menu-dropdown a:hover {
        padding-left: 25px; }

#links-right {
  display: inline-block;
  text-align: right; }
  #links-right a {
    line-height: 1.8rem;
    text-decoration: none;
    display: inline-block;
    padding: 4px 8px;
    margin: 3px 3px;
    border-radius: 3px;
    font-size: 1.3rem;
    cursor: pointer;
    float: left; }
  #links-right .link.btn {
    margin-left: 8px;
    margin-right: 8px; }
  #links-right #fb-login {
    color: #fff;
    background: #3498db; }

.navigation {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0; }
  .navigation .navigation-inner {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-flex-direction: row; }
    .navigation .navigation-inner .search-button-group {
      -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .navigation li {
    display: inline-block; }

.nav-left {
  float: left; }

.nav-right {
  display: inline-block;
  position: relative; }
  .nav-right a {
    margin-left: 10px;
    float: left; }

.brand-logo {
  display: inline-block;
  float: left;
  margin-right: 20px; }
  .brand-logo img {
    line-height: 33px;
    margin-top: 3px; }

.search-button-group {
  position: relative; }

.search-button {
  position: absolute !important;
  right: 4px; }

@media all and (max-width: 767px) {
  .brand-logo img {
    display: none; }
  .brand-logo {
    height: 32px;
    background: url("../images/favicon.png");
    width: 32px;
    margin-top: 1px;
    background-size: contain;
    background-position: center !important;
    background-repeat: no-repeat;
    display: inline-block; } }

.header-user-picture {
  height: 33px;
  width: 33px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  float: left; }

.header-user-name {
  line-height: 33px;
  color: #444;
  font-size: 1.3rem;
  font-weight: bold;
  display: inline-block;
  height: 33px;
  float: left;
  margin-left: 8px; }

.nav-account {
  height: 65px;
  width: 65px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 100%;
  position: relative; }

.menu-button {
  margin-left: 20px; }

.link-drop-down.visible {
  visibility: visible; }

.link-drop-down {
  visibility: hidden;
  position: absolute;
  right: 0px;
  top: 100%;
  height: 100px;
  background: #fff;
  width: 200px;
  z-index: 10000; }

.on-landing {
  background-color: transparent;
  border: 0;
  position: absolute; }
  .on-landing #links-right a.link {
    color: #fff !important; }
  .on-landing .brand-logo img {
    content: url("../images/roadmob-logo-light.png"); }
  .on-landing.daytime .brand-logo img {
    content: url("../images/roadmob-logo.png"); }
  .on-landing.daytime #roadmob-search-input {
    background: white; }
  .on-landing.daytime #links-right a.link {
    color: #fff !important;
    background: #da4536; }

.report-detail {
  position: relative; }

.report-detail-inner {
  background-color: #FEFEFE;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  position: relative; }
  .report-detail-inner .modal-close {
    font-size: 1.6rem;
    z-index: 100; }

@media all and (max-width: 767px) {
  #report-detail-region .report-detail-inner {
    background: #fff;
    box-shadow: none; } }

#report-collection-region {
  position: relative; }
  #report-collection-region .recent-header {
    background-color: #333;
    color: #999; }

.btn {
  outline: 0;
  border: 0;
  background-color: #da4536;
  padding: 7px 18px;
  border-radius: 3px;
  color: #FEFEFE;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 2px solid #d03626;
  line-height: 1.8rem;
  transition: 0.2s linear all; }

.btn-block {
  width: 100%;
  display: block; }

.btn-red {
  background-color: #da4536;
  border-color: #d03626; }

.btn-transparent-green {
  background-color: transparent;
  border: 2px solid #27ae60;
  color: #27ae60; }

.btn:hover {
  background-color: #d03626; }

.btn-default {
  background-color: #ddd;
  border-bottom: 2px solid #c4c4c4;
  color: #444; }
  .btn-default:hover {
    background-color: #c4c4c4; }

.btn-default-inverse {
  background-color: transparent;
  border-color: #a2a2a2;
  color: #989898; }
  .btn-default-inverse:hover {
    background-color: #e9e9e9;
    color: #323232; }

.btn-dark {
  background-color: #2C3E50; }
  .btn-dark:hover {
    background-color: #1a242f; }

.btn-social,
.btn-card {
  height: 30px;
  text-align: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 28px; }

.btn-social {
  width: 30px;
  padding: 0 !important;
  border-radius: 100%; }

.btn-circle {
  border-width: 1px;
  border-style: solid; }

.btn-loading {
  background-image: url("../images/loader.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px; }

.btn-right {
  float: right; }

.btn:focus {
  outline: 0; }

.btn-normal {
  background-color: #fff;
  color: #3498db;
  border-color: #f1f1f1; }

.btn-normal:hover {
  background-color: #f7f7f7; }

.btn-normal-inverse {
  background-color: #3498db;
  color: #FEFEFE;
  border-color: #217dbb; }

.btn-normal-inverse:hover {
  background-color: #258cd1; }

.btn-normal-light {
  background: #b0d0e5;
  border-color: #9dc5df;
  color: #3498db; }
  .btn-normal-light:hover {
    background: #9dc5df;
    color: #3498db; }

.btn-normal-bordered {
  background: transparent;
  border: 1px solid #258cd1;
  color: #3498db; }
  .btn-normal-bordered:hover {
    background: #f2f2f2;
    color: #3498db; }

.btn-green {
  background-color: #27ae60;
  border-bottom-color: #229955; }

.btn-green:hover {
  background-color: #229955; }

.btn-green-inverse {
  background-color: #FEFEFE;
  border-bottom-color: #f1f1f1;
  color: #27ae60; }

.btn-green-inverse:hover {
  background-color: #f1f1f1; }

.btn-large {
  font-size: 1.8rem;
  line-height: 2.4rem; }

.btn-medium {
  font-size: 1.6rem;
  line-height: 2rem; }

.btn-small {
  font-size: 1.2rem;
  padding: 6px 14px; }

.btn-tweet {
  background-color: #1CCAFD;
  border-color: #02b1e4; }

.btn-tweet:hover {
  background-color: #03c4fd; }

.btn-tweet-inverse {
  background-color: transparent;
  border: 1px solid #02b1e4;
  color: #1CCAFD; }

.btn-tweet-inverse:hover {
  background-color: #03c4fd; }

#locationField, #controls {
  position: relative; }

#autocomplete {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99%; }

.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030; }

#address {
  border: 1px solid #000090;
  background-color: #f0f0ff;
  width: 480px;
  padding-right: 2px; }

#address td {
  font-size: 10pt; }

.field {
  width: 99%; }

.slimField {
  width: 80px; }

.wideField {
  width: 200px; }

#locationField {
  margin-bottom: 2px; }

.max-10000 {
  max-width: 100000px; }

.float-right {
  float: right; }

.fadeout {
  position: absolute;
  bottom: 0em;
  width: 100%;
  height: 4em;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, white 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, white 100%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, white 100%); }

.vm-wrapper {
  display: table; }

.vm-wrapper .vm-content {
  display: table-cell;
  vertical-align: middle; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.div-loading {
  background-image: url("../images/loader-light.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 40px;
  height: 70px; }

.div-loading-rolling-orange {
  background-image: url("../images/loader.gif"); }

.heading-medium {
  font-size: 2.4rem;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold; }

.heading-large {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: bold; }

.heading-light {
  color: #FEFEFE; }

.btn-rounded-right {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

input, textarea, select {
  outline: 0;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #fff; }

.form-body input, .form-body select {
  height: 3.6rem; }

.form-body textarea {
  resize: none;
  padding-top: 8px;
  padding-bottom: 8px; }

.input-rounded {
  border-radius: 3px; }

.input-rounded-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

input:focus {
  outline: 0; }

.loader {
  padding-top: 20px;
  padding-bottom: 20px; }

.tags-small {
  font-size: 1.2rem;
  line-height: 0.9rem;
  color: #fff;
  background-color: #da4536;
  border-radius: 2px;
  padding: 7px 7px;
  display: inline-block;
  word-break: break-all; }

.text-small {
  font-size: 1.4rem;
  line-height: 2rem; }

.text-medium {
  font-size: 1.5rem;
  line-height: 1.8rem; }

.text-large {
  font-size: 2.4rem; }

.text-white {
  color: #FEFEFE; }

.text-dark-green {
  color: #166337; }

.text-meta {
  color: #777;
  font-size: 1.2rem; }

.button-input-group {
  display: inline-block;
  height: 2rem;
  font-size: 0; }
  .button-input-group .btn, .button-input-group input {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle; }
  .button-input-group input {
    margin-right: -1px;
    padding: 8px 14px; }

.search-button-group {
  display: inline-block;
  float: left;
  font-size: 0; }
  .search-button-group .btn, .search-button-group input {
    display: inline-block;
    vertical-align: middle;
    float: left;
    padding: 7px 14px;
    color: #777;
    background: #eee; }
  .search-button-group .btn {
    right: 0; }
  .search-button-group input::-webkit-input-placeholder {
    color: #aaa; }
  .search-button-group input:-moz-placeholder {
    /* Firefox 18- */
    color: #aaa; }
  .search-button-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaa; }
  .search-button-group input:-ms-input-placeholder {
    color: #aaa; }

.search-button-group-tall .btn, .search-button-group-tall input {
  line-height: 3.2rem; }

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
  width: 100% !important; }

.input-group {
  padding-top: 10px;
  padding-bottom: 10px; }

.form {
  margin: 25px 0;
  padding: 0;
  overflow: hidden;
  /* For Mozilla Firefox */ }
  .form input, .form select, .form textarea {
    box-shadow: none;
    font-size: 1.3rem; }
  .form .heading-medium {
    border-bottom: 1px dotted #ddd;
    line-height: 6rem; }
  .form input::-webkit-input-placeholder,
  .form textarea::-webkit-input-placeholder {
    font-size: 1.3rem; }
  .form input:-moz-placeholder,
  .form textarea:-moz-placeholder {
    font-size: 1.3rem; }

.form-header {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #fafafa;
  color: #444;
  margin: 0;
  font-size: 3.6rem; }

.form-body {
  padding: 12px 20px; }

.form-label {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #444;
  line-height: 3.6rem; }
  @media all and (max-width: 767px) {
    .form-label {
      text-align: left; } }

.green-bg {
  background-color: #27ae60; }

.borderless {
  border: 0 !important; }

.divider {
  height: 1px;
  border-bottom: 1px dotted #777; }

.v-padded-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.v-padded-25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.v-padded-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.v-padded-50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.padded-bottom-20 {
  padding-bottom: 20px; }

.padded-bottom-25 {
  padding-bottom: 25px; }

.padded-top-25 {
  padding-top: 20px; }

.padded-top-50 {
  padding-top: 50px; }

.padded-bottom-10 {
  padding-bottom: 10px; }

.padded-bottom {
  padding-bottom: 150px; }

/* Overlays */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5); }

.overlay-loading {
  position: absolute;
  width: 100%;
  height: 100px;
  background-image: url("../images/loader.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50px;
  margin-top: -100px;
  top: 50%; }

@media all and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
    visibility: hidden; } }

.meta-text {
  color: #aaa;
  font-size: 1.3rem; }

.input-danger {
  border: 1px solid #FF6600; }

.error-text {
  margin-bottom: 10px;
  color: #FF6600;
  font-size: 1.3rem; }

@-webkit-keyframes fadeAndScale {
  from {
    opacity: 0;
    -webkit-transform: scale(0.85, 0.85);
            transform: scale(0.85, 0.85); }
  to {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes fadeAndScale {
  from {
    opacity: 0;
    -webkit-transform: scale(0.85, 0.85);
            transform: scale(0.85, 0.85); }
  to {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

.modal-region {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 100;
  padding-top: 100px;
  padding-bottom: 100px;
  display: block; }
  .modal-region.hidden {
    display: none; }

.modal-fixed-center {
  height: 300px;
  width: 300px;
  background-color: #fff;
  border-radius: 3px;
  z-index: 1;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -150px;
  animation: fadeAndScale 0.3s 1;
  -webkit-animation: fadeAndScale 0.3s 1;
  position: relative; }

.modal-close {
  position: absolute;
  font-size: 1.4rem;
  color: #777;
  top: 15px;
  right: 15px;
  cursor: pointer; }

.hero-map {
  height: 644px;
  width: 100%; }

.hero-gmap-container {
  position: relative; }

.hero-overlay {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }
  .hero-overlay.daytime {
    background: rgba(255, 255, 255, 0.2); }
    .hero-overlay.daytime h1 {
      color: #333;
      z-index: 1; }

.hero-overlay__container {
  text-align: center; }

.hero-overlay h1 {
  margin: 0 0 32px 0;
  font-size: 50px;
  color: white;
  line-height: 1.2; }

.hero-overlay a {
  display: inline-block;
  background-color: #da4536;
  color: white;
  padding: 10px 28px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: 250ms; }

.hero-overlay a:hover {
  background-color: #c83324; }

.report-icon {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: #333;
  display: inline-block; }

.report-title {
  cursor: pointer; }

.report-detail-image {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  padding: 0; }

.dashboard-region-heading {
  background-color: #b5e0dc;
  color: #16a085;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #a3d8d4;
  border-bottom: 0; }

.dashboard-region {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  overflow: hidden; }
  .dashboard-region .divider {
    border-color: #aaa; }
  .dashboard-region.no-heading {
    border: 1px solid #e5e5e5;
    border-radius: 5px; }

.profile-picture {
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 100%; }

.dashboard-report {
  cursor: pointer;
  border-bottom: 1px dotted #aaa;
  padding-top: 20px;
  padding-bottom: 20px; }
  .dashboard-report:hover {
    background: #fafafa; }
  .dashboard-report:last-of-type {
    border: 0; }

.report-detail-image.preview {
  max-height: 150px;
  overflow: hidden; }
  .report-detail-image.preview img {
    position: relative; }

@font-face {
  font-family: 'Clear Sans';
  font-style: thin;
  font-weight: 200;
  src: url("../fonts/ClearSans-Thin.woff") format("woff"); }

@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ClearSans-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Clear Sans';
  font-style: bold;
  font-weight: 600;
  src: url("../fonts/ClearSans-Bold.woff") format("woff"); }

html {
  font-size: 62.5%; }

a, button {
  outline: 0; }

body {
  font-family: 'Clear Sans' ,Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  color: #333;
  position: relative;
  background-color: #f3f3f3; }

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh; }
  #site-wrapper .site-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.5s ease all;
    z-index: 300; }

#modal-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 1s ease all; }
  #modal-overlay.modal-overlay-visible {
    visibility: visible;
    display: inline-block;
    opacity: 1; }

#site-canvas {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transition: 0.3s ease all; }

#site-menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #da4536;
  z-index: 5;
  left: 100%;
  padding-top: 100px; }
  #site-menu .site-menu-close {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    font-size: 20px;
    cursor: pointer; }
  #site-menu .site-menu-link {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    outline: 0; }

#site-wrapper.show-nav #site-canvas {
  -webkit-transform: translate(-300px, 0);
          transform: translate(-300px, 0);
  height: 100vh; }

#site-wrapper.show-nav .site-overlay {
  visibility: visible;
  opacity: 1;
  display: block; }

body, a, input, textarea, span, select, label, p {
  font-size: 1.4rem;
  font-family: 'Clear Sans', Helvetica, sans-serif;
  color: #444; }

#footer {
  background-color: #FEFEFE;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  bottom: 0;
  position: absolute;
  width: 100%; }

#report-search {
  min-height: 480px; }

#main-region {
  padding-bottom: 150px; }
