<!doctype html>
<html>
<head>
  {% load staticfiles %}
	<title>RoadMob</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Facebook Open Graph Tags -->
  <meta property="fb:app_id" content="{{ FB_APP_ID }}">
  <meta property="og:title" content="RoadmobPH">
  <meta property="og:description" content="Roadmob is an online platform for reporting abusive PUV drivers and operators. With Roadmob, we can collectively make our commute experience safer and better.">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="RoadmobPH">
  <meta property="og:image" content="www.roadmob.ph/static/app/images/roadmob-splash.png">
  <meta property="og:url" content="www.roadmob.ph">

  <!-- Twitter Tags -->

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@roadmobph">
  <meta name="twitter:title" content="RoadmobPH">
  <meta name="twitter:description" content="Roadmob is an online platform for reporting abusive PUV drivers and operators. With Roadmob, we can collectively make our commute experience safer and better.">
  <meta name="twitter:image" content="www.roadmob.ph/static/app/images/roadmob-splash.png">

	{% block facebook_og_block %}
	{% endblock %}


	<link rel="stylesheet" type="text/css" href="{% static 'app/styles/main.css' %}" />
	<link rel="shortcut icon" type="image/png" href="{% static 'app/images/favicon.png' %}"/>
  <link href='{% static "app/styles/lightcase.css" %}' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.1/randomColor.min.js"></script>-->
  <script src="https://use.typekit.net/joy8ffe.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>
	<div id="site-wrapper">

		<div id="site-canvas">
			<div id="site-overlay" class="site-overlay"></div>
			<div id="site-menu">

			</div>
			<header id="header-region" class="grid-container max-10000">
			</header>

			{% block body_block %} {% endblock %}
      <div id="preloader-overlay" class="modal-region modal-region-white text-center hidden">
        <div class="preloader">
          <span></span>
          <span></span>
        </div>
      </div>
		  <div id="footer" class="grid-container max-10000 text-center text-small">
		  	© RoadMobPH 2015
		  </div>
		<div>
	</div>
	{% csrf_token %}
	{% block scripts %} {% endblock %}
</body>
</html>
