{% extends 'base.html' %}

{% load staticfiles %}
{% block body_block %}
<div id="main-region" class="grid-container max-10000">


</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = '';
    }
</script>
<script type="text/javascript">
	var FB_APP_ID = "{{FB_APP_ID}}"
	var REPORT_URI = "{{REPORT_URI}}"
</script>
<script>var require = { waitSeconds: 0 };</script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDoPvS1Sz4yPebwOltD9IxyLU8Olstomrw&libraries=places"></script>
<script data-main="/static/app/scripts/main" src="{% static 'dist/scripts/require.js' %}"></script>
{% endblock %}
