<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% for key, value in og_tags.items  %}
        {% if value != none %}
            <meta property="{{ key }}" content="{{ value }}" />
        {% endif %}
    {% endfor %}

    {% for key, value in tw_cards.items  %}
        {% if value != none %}
            <meta name="{{ key }}" content="{{ value }}" />
        {% endif %}
    {% endfor %}
    <title>{{ title }}</title>
    <style>
        body {
            display: none;
        }
    </style>
</head>
<body>
    <script>
        var redirect = location.protocol + '//' + location.host + '/#' + location.pathname.substring(1) + location.search;

        if(document.referrer && document.referrer.substring(0, 23) != 'http://www.roadmob.ph') {
            if(!location.search) {
                redirect += '?';
            } else {
                redirect += '&';
            }
        }

        window.location.replace(redirect);
    </script>
</body>
</html>
