<div id="hero-region" class="grid-container max-10000"></div>

<!-- <div id="banner-section">
  <div class="grid-container max-10000">
    <div class="grid-50 prefix-25 text-center">
      <div class="banner-contents">
        <div class="tagline">
          Help fellow commuters.<br>
          Report irresponsible drivers.
        </div>
        <br>
        <a href="/report/new" class="link btn btn-large" id="file-main">File A Report</a>
      </div>
      <div class="building">
        <div class="vehicle">
          <img class="jeep-moving" src="/static/app/images/jeep.png" width="50">
          <img class="car-moving" src="/static/app/images/bus.png" width="60">
          <img class="taxi-moving" src="/static/app/images/car.png" width="40">
        </div>
      </div>
      <div class="white-overlay"></div>
    </div>
  </div>
</div> -->

<div id="modal-overlay"></div>

<div id="report-collection-region" class="grid-container v-padded-50"></div>
