@import 'variables';

.btn {
  outline: 0;
  border: 0;
  background-color: $red;
  padding: 7px 18px;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 2px solid darken($red, 5%);
  line-height: 1.8rem;
  transition: 0.2s linear all;

  
}

.btn-block {
  width: 100%;
  display: block;
}

.btn-red {
  background-color: $red;
  border-color: darken($red, 5%);
}


.btn-transparent-green {
  background-color: transparent;
  border: 2px solid $green;
  color: $green;
}

.btn:hover{
  background-color: darken($red, 5%);
}

.btn-default {
  background-color: #ddd;
  border-bottom: 2px solid darken(#ddd, 10%);
  color: #444;
  &:hover {
    background-color: darken(#ddd, 10%);
  }
}

.btn-default-inverse {
  background-color: transparent;
  border-color: darken(#bbb, 10%);
  color: #989898;
  &:hover {
    background-color: darken(#fff, 2%);
    color: darken(#989898,40%);
  }
}

.btn-dark {
  background-color: $madisonblue;
  &:hover {
    background-color: darken($madisonblue, 10%);
  }
}

.btn-social,
.btn-card {
  height: 30px;
  text-align: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 28px;
}

.btn-social {
  width: 30px;
  padding: 0 !important;
  border-color: transparent;
  background-color: $fb-blue;
  color: #fff;
  float: left;
  &:hover {
    background-color: darken($fb-blue, 5%);
    color: #fff;
  }
}

.btn-circle {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 48px;
  font-size: 24px;
  border-style: solid;
}

.btn-loading {
  background-image: url('../images/loader.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px;
}

.btn-right {
  float: right;
}

.btn:focus {
  outline: 0;
}

.btn-normal {
  background-color: #fff;
  color: $blue;
  border-color: darken($white, 5%);
}

.btn-normal:hover {
  background-color: darken(#fff, 3%);
}

.btn-normal-inverse {
  background-color: $fb-blue;
  color: $white;
  border-color: darken($fb-blue, 10%);
}

.btn-normal-inverse:hover {
  background-color: darken($blue, 5%);
}

.btn-normal-light {
  background: $light-blue;
  border-color: darken($light-blue, 5%);
  color: $blue;
  &:hover {
    background: darken($light-blue, 5%);
    color: $blue;
  }
}

.btn-normal-bordered {
  background: transparent;
  border: 1px solid darken($blue, 5%);
  color: $blue;
  &:hover {
    background: darken(#ffffff, 5%);
    color: $blue;
  }
}

.btn-green {
  background-color: $green;
  border-bottom-color: darken($green, 5%);
}

.btn-green:hover {
  background-color: darken($green, 5%);
}

.btn-green-inverse {
  background-color: $white;
  border-bottom-color: darken($white, 5%);
  color: $green;
}

.btn-green-inverse:hover {
  background-color: darken($white, 5%);
}

.btn-large {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.btn-medium {
  font-size: 1.6rem;
  line-height: 2rem;
}

.btn-small {
  font-size: 1.2rem;
  padding: 6px 14px;
}

.btn-tweet {
  background-color: $twitter-blue;
  &:hover {
    background-color: darken($twitter-blue, 5%);
    color: #fff;
  }
}

.btn-kakao {
  background-image: url('/static/app/images/kakao-logo.png');
  background-position: center;
  background-size: cover;
}


.btn-tweet-inverse {
  background-color: transparent;
  border: 1px solid darken($twitter-blue, 10%);
  color: $twitter-blue;
}

.btn-tweet-inverse:hover {
  background-color: darken($twitter-blue, 5%);
}
