@import 'variables';
@import 'mixin';

header {
  width: 100%;
  z-index: 100;
  background: #fcfcfc;
  border: 1px solid #e8e8e8;
}
@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}
.note-alert {
  position: absolute;
  top:100%;
  left: 0;
  height: 23px;
  z-index: 90;
  margin-top: 14px;
  display: none;
  .note-alert-inner {
    background: $greensea;
    height: 100%;
    border: 1px solid darken($greensea, 2%);
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2.1rem;
  }
}

.absoluteheader {
  position: absolute;
  background: transparent;
}

#user-menu {
  display: inline-block;
  position: relative;
  .menu-dropdown.visible {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .menu-dropdown {
    position: absolute;
    background: $red;
    border: 1px solid darken($red, 10%);
    z-index: 500;
    width: 100%;
    top: calc(100% + 13px);
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: hidden;
    opacity: 0;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 1px;
    border-top: 0;
    a {

      text-decoration: none;
      display: inline-block;
      padding: 15px 18px;
      transition: 0.25s linear all;
      cursor: pointer;
      color: #fff;
      &:hover {
        padding-left: 25px;
      }
    }
  }
}

#links-right {
  display: inline-block;
  text-align: right;

  a {
    line-height: 1.8rem;
    text-decoration: none;
    display: inline-block;
    padding: 9px 7px;
    margin: 0 5px;
    border-radius: 3px;
    font-size: 1.4rem;
    cursor: pointer;
    float: left;
  }

  #fb-login {
    color: #fff;
    background: $blue;
    @media all and (max-width: 767px) {
      margin-left: 7px;
    }
  }
}
.navigation {
  padding-top: 13px;
  padding-bottom: 13px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  .navigation-inner {
    display:flex;
    display: -webkit-flex;
    flex-direction:row;
    -webkit-flex-direction: row;
    .search-button-group {
      -webkit-flex: 1;
      flex:1
    }
  }
  li {
    display: inline-block;
  }
}

.nav-left {
  float: left;
}

.nav-right {
  display: inline-block;
  position: relative;
  a {
    margin-left: 10px;
    float:left;

    line-height: 1.8rem;
    padding: 7px 14px;
  }
}
.brand-logo {
  display: inline-block;
  float: left;
  margin-right: 7px;
  img {
    line-height: 33px;
    margin-top: 3px;
  }
}
.search-button-group {
  position: relative;
}
.search-button {
  position: absolute !important;
  right: 4px;
}
@media all and (max-width: 767px) {
  .brand-logo img {
    display: none;
  }
  .brand-logo {
    height: 36px;
    background: url('../images/favicon.png');
    width: 36px;
    background-size: contain;
    background-position: center !important;
    background-repeat: no-repeat;
    display: inline-block;
  }
}

.header-user-picture {
  height: 33px;
  width: 33px;
  border: 1px solid #ddd;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  float: left;
}
.header-user-name {
  line-height: 33px;
  color: #444;
  font-size: 1.3rem;
  font-weight: bold;
  display: inline-block;
  height: 33px;
  float: left;
  margin-left: 8px;
}
.nav-account {
  height: 65px;
  width: 65px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 100%;
  position: relative;
}
.menu-button {
  margin-left: 12px;
}
.link-drop-down.visible {
  visibility: visible;
}
.link-drop-down {
  visibility: hidden;
  position: absolute;
  right: 0px;
  top: 100%;
  height: 100px;
  background: #fff;
  width: 200px;
  z-index: 10000;
}

.on-landing {
  background-color: transparent;
  border: 0;
  position: absolute;
  #links-right a.link {
    color: #fff !important;
  }
  .brand-logo img {
    content: url('../images/roadmob-logo-light.png');
  }
  &.daytime {
    .brand-logo img {
      content: url('../images/roadmob-logo.png');
    }
    #roadmob-search-input {
      background: white;
    }
    #links-right a.link {
      color: #fff !important;
      background: $red;
    }
  }
}
