// HERO
.hero-map {
  height: 534px;
  width: 100%;

  @media all and (max-width: 500px) {
    height: 380px;
  }

}
.hero-gmap-container {
  position: relative;
}
.hero-overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  &.daytime {
    background: rgba(255,255,255, 0.2);

    h1 {
      color: #333;
      z-index: 1;
    }
  }
}

.hero-overlay__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media all and (max-width: 500px) {
    text-align: center;
  }
}

.hero-overlay h1 {
  margin: 0 0 32px 0;
  max-width: 500px;
  font-size: 50px;
  color: white;
  line-height: 1.2;

  @media all and (max-width: 500px) {
    font-size: 32px;
  }
}
.hero-overlay h5 {
  margin: 0 0 16px 0;
  max-width: 500px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 1.2;
  letter-spacing: 0.3px;
}

.hero-overlay a {
  display: inline-block;
  background-color: rgb(218, 69, 54);
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;

  text-decoration: none;

  transition: 250ms;
}
.hero-overlay a:hover {
  background-color: rgb(200, 51, 36);
}

.hero-card {
  .hero-card-inner {
    position: relative;
    float: left;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    padding: 0;
    margin-bottom: 20px;
  }
  &:hover &-overlay {
    transform: translateY(0);
  }
}

.grid {
  position: relative;

  .hero-card {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
  }

}


.hero-card-overlay {
  position: absolute;
  left: 0;
  right: 0;
  padding: 12px;
  z-index: 0;
  transform: translateZ(0);
  transform-style: preserve-3d;
  border-radius: 4px 4px 0 0;
  transition: 200ms;

  &.overlay-top {
    transform: translateY(-100%);
    top: 0;
    background: linear-gradient(to bottom, rgba(black, 0.6), rgba(black, 0));
    border-radius: 4px 4px 0 0;
    text-align: right;
  }

  .share-button {
    margin: 0 0 0 6px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    padding: 0;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    float: right;

    &.facebook {
      background-color: #3b5998;
    }
    &.twitter {
      background-color: #55acee;
    }
    &.kakao {
      background-image: url('/static/app/images/kakao-logo.png');
      background-size: cover;
      background-position: center;
    }
  }
}

.hero-card-image {
  position: relative;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  padding: 60% 0 0 0;
  cursor: pointer;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  transform: translateZ(0);

  .image {
    display: block;
    transform: translateZ(0);
    background-size: cover;
    background-position: center;
    border-radius: 4px 4px 0 0;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.hero-card-vehicle {
  overflow: hidden;
  border-bottom: 1px #ececec solid;

  &-icon {
    float: left;
    height: 48px;
    width: 48px;

    background-color: #FFE83C;
  }

  &-info {
    float: left;
    width: calc(100% - 48px);

    padding: 8px 12px;
    cursor: pointer;
    h5 {
      margin: 0;
      font-size: 15px;
      line-height: 1.2;
      font-weight: 600;
      color: #111;
    }
    h6 {
      margin: 0;
      font-size: 12px;
      line-height: 1.2;
      font-weight: 400;
      color: #888;
    }
  }

  .motorcycle {
    background-image: url('/static/app/images/vehicles/noun_143285_cc.svg');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center 3px;
  }
  .taxi {
    background-image: url('/static/app/images/vehicles/noun_143282_cc.svg');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center 3px;
  }
}

.hero-card-reporttype {
  padding: 12px;
  border-bottom: 1px #ececec solid;

  h5 {
    margin: 0;
    font-size: 16px;
    line-height: 2rem;
    color: #111;
    font-weight: 600;
    // word-break: break-all;

    @media all and (max-width: 500px) {
      font-size: 1.4rem;
    }
  }
}

.hero-card-details {
  padding: 12px;
  border-bottom: 1px #ececec solid;

  p {
    margin: 0;
    font-size: 13px;
  }
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.8rem;
    min-height: 3.6rem;
    max-height: 3.6rem;
  }
  .location {
    margin-bottom: 6px;
    color: #888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.hero-card-postinfo {
  padding: 6px 12px;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
