.how-it-works {
  &-wrapper {
    background: white;
  }

  &-container {
    margin-top: 36px;
  }

  &-entry {
    h5 {
      margin: 0 0 12px 0;
      font-size: 18px;
      font-weight: 700;
      color: #333;
    }

    p {
      color: #888;
    }
  }

  &-icon {
    display: inline-block;
    width: 155px;
    height: 155px;
    background-color: #f7f7f7;
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-top: 15px;
    margin-bottom: 15px;

  }
}
