.live-reports-wrapper {
  background: white;
}

.live-reports-carousel {
  width: 100%;
  overflow-x: hidden;
}

.live-reports {
  margin: 0 -6px;
  width: 20000px;
  overflow: hidden;
}

.live-report {
  width: 122px;

  &-wrapper {
    float: left;
    padding: 6px;
  }

  &-image {
    position: relative;
    width: 100%;
    height: 122px;

    background-size: cover;
    background-position: center center;
  }

  &-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // &:after {
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   content: '';
    //   background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
    // }

    &.motorcycle {
      background-image: url('/static/app/images/vehicles/noun_143285_cc.svg');
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: 4px 75px;
    }
    &.car {
      background-image: url('/static/app/images/vehicles/noun_143282_cc.svg');
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: 4px 75px;
    }
    &.uv {
      background-image: url('/static/app/images/vehicles/noun_143278_cc.svg');
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: 4px 75px;
    }
  }

  &-reporttype {
    h5 {
      margin: 6px 0 2px 0;
      font-size: 13px;
      font-weight: 600;
      color: #333;
      line-height: 16px;
    }
  }

  &-plate {
    h6 {
      margin: 0;
      font-size: 12px;
      font-weight: 400;
      color: #9a9a9a;
    }
  }
}
