@import '../unsemantic';
@import '../datepicker';
@import 'home';
@import 'header';
@import 'report';
@import 'buttons';
@import 'variables';
@import 'googlemaps';
@import 'common';
@import 'form';
@import 'modal';
@import 'hero';
@import 'liveReports';
@import 'howItWorks';
@import 'dashboard';
@import 'cards';
@import 'preloader';


@font-face {
  font-family: 'Clear Sans';
  font-style: thin;
  font-weight: 200;
  src: url('../fonts/ClearSans-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ClearSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: bold;
  font-weight: 600;
  src: url('../fonts/ClearSans-Bold.woff') format('woff');
}
*, *:before, *:after {
  box-sizing: border-box;
}
html {
	font-size: 62.5%;
  margin: 0;
  padding: 0;
}
a, button {
  outline: 0;
}
body {
	font-family: 'soleil','Clear Sans', Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100%;
  color: #333;
  position: relative;
  background-color: $graywhite;
}

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  .site-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.5s ease all;
    z-index: 300;
  }
}

#modal-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 1s ease all;

  &.modal-overlay-visible {
    visibility: visible;
    display: inline-block;
    opacity: 1;
  }

}

#site-canvas {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transition: 0.3s ease all;
}

#site-menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: $red;
  z-index: 5;
  left: 100%;
  padding-top: 100px;

  .site-menu-close {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .site-menu-link {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
  }
}

#site-wrapper.show-nav {
  #site-canvas {
    transform: translate(-300px,0);
		height: 100vh;
  }
  .site-overlay {
    visibility: visible;
    opacity: 1;
    display: block;
  }
}

body, a, input, textarea, span, select, label, p {
  font-size: 1.4rem;
  font-family: 'soleil', 'Clear Sans', Helvetica, sans-serif;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#footer {
	// background-color: $white;
  background: #555;
	padding-top: 50px;
	padding-bottom: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

#report-search {
  min-height: 480px;
}

#reports-collection {
  //margin: 0 -10px;
}

#dashboard-reports {

}

#main-region {
  padding-bottom: 120px;
}
