@import "variables";
@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: translateY(-500px);
    }
    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}
.modal-region {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 100;
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  transform-style: preserve-3d;
  text-align: center;
  z-index: 300;
  .preloader {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
  }
  &.hidden {
    display: none;
  }
  &-white {
    background: rgba(255,255,255,0.8);
  }
}
.modal-fixed-center {
  display: inline-block;
	height: auto;
	min-width: 300px;
  max-width: 500px;
	background-color: #fff;
	border-radius: 3px;
	z-index: 1;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
	animation: fadeAndScale 0.3s 1;
	-webkit-animation: fadeAndScale 0.3s 1;
	position: relative;
  padding: 15px;


}

.modal-close {
  position: absolute;
  font-size: 1.4rem;
  color: #777;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.footer-notice {
  position: fixed;
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  bottom: 0;
  left: 0;
  background: transparentize($red, 0.1);
  color: #fff;
  font-size: 1.4rem;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 100;
  a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
  }
}
