@import 'variables';
.report-detail {
	position: relative;
}
.report-detail-inner {
	background-color: $white;
	padding: 0;
	border: 1px solid #e5e5e5;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative;
  .report-detail-inner-section {
    padding: 15px;
    border-bottom: 1px #ececec solid;
  }
  .hero-card-image {
    margin-bottom: 10px;
  }
	.heading-medium {
		padding-top: 20px;
	}
	.card-actions {

	}
	.modal-close {
		font-size: 1.6rem;
		z-index: 100;
		top: 0px;
		right: -20px;
		color: #fff;
		line-height: 1.6rem;
		text-align: center;
		display: inline-block;
		border-radius: 100%;
	}
  .btn-social {
    margin-right: 10px;
  }
  .report-incident {
    font-size: 1.6rem;
  }
}
.report-detail-inner.report-comments {
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #f7f7f7;
	border-color: darken(#f7f7f7, 7%);
}

@media all and (max-width: 767px) {
	#report-detail-region .report-detail-inner {
		background: #fff;
		box-shadow: none;
	}
}

#report-collection-region {
	position: relative;

	.recent-header {
		background-color: #333;
		color: #999;
	}
}

.report-feed {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.report-feed-icon {
  float: left;
  height: 48px;
  width: 48px;
  background-size: cover;
  background-color: $yellow;
}
